[2017-04-29 22:43] prsolucoes opened #2 "Question: How to create window in another monitor?"
Hi,

How to create window in another monitor?

I have a desktop app:
https://itunes.apple.com/us/app/prprojector-datashow-projetor-louvor-palestra-m%C3%BAsica/id1050484268?ls=1&mt=12

I want convert to Go with your lib, but i need control window in other monitor.

Thanks.

[2017-04-30 08:21] asticode commented on #2
@prsolucoes as of now it's not available but that is a really nice enhancement. I'll start working on it right now.

Unfortunately I won't have a way to test it thoroughly until next Tuesday as I don't have an external monitor at home. We have 2 options:

- if you really want to test it quickly I'll create a new branch on which you'll be able to check whether it's working properly. This way seems

[2017-04-30 11:07] asticode commented on #2
@prsolucoes I've added bindings for multi screens/displays. This is available in the `dev-display` branch for now but I will merge it as soon as I/somebody can test it's working properly.

Here's how you can create a window in another monitor:

- fetch the available displays:

[code]

- create the window in the proper display:

[code]

- or move the window to the proper display:

[code]

Let me kn

[2017-04-30 16:46] prsolucoes commented on #2
O.o Thanks. I will test it on thursday, i dont have another monitor here in my home, only on my work. I will test.

Another issue is about icon and app name. On my mac, the icon example is not changed and the title and info is showing Electron and not my app name. How i can solve it?

[2017-05-01 13:25] asticode commented on #2
@prsolucoes you were right, there was something wrong with setting your own app name + icon on MacOSX.

However I've fixed it, should be better now :) (still in the `dev-display` branch). I'll merge it in master later this week.

To add your own app name + icon just do the following:

[code]

Please close this issue if it fixes your problem.

NOTE : I'm not an expert MacOSX user but I've experienc

[2017-05-01 16:12] prsolucoes commented on #2
Ok, icons and title on mac is working fine now.

[2017-05-06 07:11] Philiphil opened #3 "Bug : I cant run it"
Hi,
First I'd like to thank you a lot for this project, i was using go-thrust.

This happens when i'm trying to run example 1 (or any example actually)

And when i'm trying to run some code looking like this :

"Loading ..." appears 4 times and then nothing never happens

My user doesnt have administrator rights, I think that this may be the reason why.

Do you have any ideas of how to fix this ?

[2017-05-06 08:32] asticode commented on #2
@prsolucoes did you have time to test the multi displays?

[2017-05-06 10:19] asticode commented on #3
@Philiphil thanks for the nice words :)

First off I've updated the default logger because it looked really bad in windows. It should look better now.

1. Could you tell me what the command "go env" outputs ? Indeed the path `go-astilectron` builds is `C:\Users\xxx\go\src\github.com\asticode\go-astilectron\examples\1.basic_window"C:\Users\xxx\go"\src\github.com\asticode\go-astilectron\examples\ven

[2017-05-06 10:21] asticode commented on #3
Also for the second example could you set up the logger in debug mode so that I can see what `go-astilectron` is doing ?

Cheers

[2017-05-07 04:33] fasilenko opened #6 "Build error?"
% go get -u github.com/asticode/go-astilectron
# github.com/asticode/go-astilog
workspace/src/github.com/asticode/go-astilog/logger.go:42: not enough arguments in call to logrus.IsTerminal
	have ()
	want (io.Writer)
workspace/src/github.com/asticode/go-astilog/out_syslog.go:16: not enough arguments in call to logrus.IsTerminal
	have ()
	want (io.Writer)

[2017-05-07 09:03] asticode commented on #6
@fasilenko thanks for filing the issue, I got mixed up there. It should be all good now.

Could you close the issue if that fixes your problem ?

Cheers

[2017-05-07 14:08] #2 closed

[2017-05-09 05:18] fasilenko commented on #6
Thanx a lot! Now it's ok.

[2017-05-09 05:18] #6 closed

[2017-05-11 09:51] Philiphil commented on #3
Hi,
I found what was causing this
changing my "run.bat" from `set gopath="C:\Users\xxx\go\"` to `set gopath=C:\Users\xxx\go\` fixed everything.

[2017-05-11 09:51] #3 closed

[2017-05-11 10:33] zabuTNT opened #7 "Remove menu"
Hi,
great job, but it seems that there is no way to remove the menu or simply set it to empty.
if I try with
`var m = a.NewMenu([]*astilectron.MenuItemOptions{})`
or
`var m = a.NewMenu(nil)`

I receive:
`Uncaught Exception:
TypeError: Cannot read property 'length' of undefined
    at menuCreate (/home/fede/goprojects/src/testElectron2/assets/vendor/astilectron/main.js:157:38)
    at Interface.<ano

[2017-05-11 12:26] asticode commented on #7
That's a great idea indeed, I'll add it this week-end.
I'll keep your posted.

[2017-05-13 10:07] asticode commented on #7
All right so here's what I've added :

- Electron's default menus are removed
- you can now use `m.Destroy()` to remove a menu

If that meets your need, please close the issue.
Cheers

[2017-05-16 09:03] asticode opened #8 "Loader doesn't work on MacOSX :("
[code]

Related issues:

- https://github.com/andlabs/ui/issues/220
- https://github.com/andlabs/ui/issues/171

[2017-05-17 17:58] asticode commented on #7
@zabuTNT did it fix your problem?

If so, could close this issue?

[2017-05-18 06:45] zabuTNT commented on #7
Now I've an error when I get your package.

`# github.com/asticode/go-astilectron
../github.com/asticode/go-astilectron/paths.go:64: undefined: os.Executable`

[2017-05-18 06:56] zabuTNT opened #9 "undefined: os.Executable"
I've an error when I get your package.
I think it's related to this commit on path.go

[Default base directory path is now the executable directory path ](https://github.com/asticode/go-astilectron/commit/5ad600fa13fb2f2eec28b2988b177c66f811055b)

` go get -u github.com/asticode/go-astilectron`
`# github.com/asticode/go-astilectron`
`../github.com/asticode/go-astilectron/paths.go:64: undefined: os

[2017-05-18 08:37] asticode commented on #9
mmm this is weird, it uses the "os" package in the standard library so it should be defined at any time and shouldn't need any dependencies...

do you have another "os" package available in your "$GOPATH/src"?

can you copy/paste the import section of the paths.go file?

[2017-05-18 11:23] zabuTNT commented on #9
I resolved... it was true that my go version is 1.8.1 BUT $GOROOT referred to a folder with the old 1.7 version, Executable() was introduced only in go1.8, I change the path of GOROOT to the updated version and now it's all ok.

[2017-05-18 11:25] zabuTNT commented on #7
It works after fixed my issue with Executable() #9,

Thank you.

[2017-05-18 12:15] #7 closed

[2017-05-18 12:21] #9 closed

[2017-05-23 23:57] prsolucoes commented on #2
Sorry for late response. It is working OK man. Very nice job. Dont stop !!!!  Im trying remake my app with this, but finding some problems with html outline and auto width, nothing related to your project. Thanks.

[2017-05-24 05:03] prsolucoes commented on #8
I think the problem is with UI package:

[code]

[2017-05-24 05:46] prsolucoes opened #10 "RestoreAssets undefined on example 9 (bootstrap)"
The line 45 in "examples/9.bootstrap/main.go" is:

[code]

But need be something like this:

[code]

[2017-05-24 08:19] asticode commented on #10
Mmm in this example I wanted to show that you could disembed assets as well using a legit `RestoreAssets` signature function. In the `readme.md` I added that you should run the following commands:

    $ go generate examples/9.bootstrap/main.go
    $ go run examples/9.bootstrap/main.go examples/9.bootstrap/resources.go -v

so that it could generate the `resources.go` file thanks to `go-bindata` an

[2017-05-24 13:15] prsolucoes commented on #10
Yes, but i think you need put this file inside example folder, no?

[2017-05-24 14:01] mikkoseppanen opened #11 "GOARCH=386 support"
Hi,

I recently got a project going where I'm able to nicely build a single binary program using go-astilectron, for 64bit linux & windows. I then got to work trying to build for `GOARCH=386` (I have the toolchain built) and get a successful build with `GOARCH=386 build -a`, but when I try to run it I get an marshaling error when I guess astilectron is starting up.

Error I get is:
`{"level": "err

[2017-05-24 14:08] asticode commented on #10
I don't think committing the file `resources.go` is such a good idea as the idea is to be able to rebuild it using the `go generate` command. It's like the `vendor` folder as far as I'm concerned.

But if you're having the problem, others will have it too, so it may be a good idea to commit it anyway. I'll think about it.

[2017-05-24 14:11] prsolucoes commented on #10
I particularly dont have problems with commiting vendor folder. But this resource dont change by user and be part of your code. It is only a generated code from resources that never will change probably.

But it is my opinion, you decide.

Thanks.

[2017-05-24 14:29] asticode commented on #11
32bit is supported but I've surely missed some places where I should have used `int64` instead of `int`. I've made some changes that I've committed, does it fix things for you? (in your case, the problem was that the ID returned by Electron was an int64)

[2017-05-24 14:43] asticode commented on #10
Problem is `resources.go` also embeds the electron + astilectron releases, so I would need to generate it all over again everytime I bump their versions, which is a pain in the ass. I'll consider it.

[2017-05-24 14:45] prsolucoes commented on #10
Ah, is embeds the entire zip to dont need download?

[2017-05-24 14:48] prsolucoes commented on #10
I check the "resources.go" and it only have css/html. A small file of "8kb".

[2017-05-24 14:50] prsolucoes commented on #10
And when i run, it try download the entire ZIP:

[code]

We need a way to embed the ZIP to dont need download. And when i cross compile to other platforms each version need be it our ZIP. Cross compile for Linux need have his ZIP for Linux, For windows its ZIP for Windows, etc.

[2017-05-24 14:55] asticode commented on #10
I was wrong, I inverted with the `5.single_binary_distribution` which embed the vendor directory. The `9.bootstrap` example don't so I've committed the `resources.go` file to ease running this example. I've also removed the loader which causes problems on MacOSX.

[2017-05-24 15:01] prsolucoes commented on #10
But on example 5 we have another problem. How to generate the "vendor" folder?

[2017-05-24 15:03] prsolucoes commented on #10
Sorry, i see here how to do it.

[2017-05-24 15:11] prsolucoes commented on #10
How i can generate vendor.go in example 5 with embed files to other platform?

Example:

[code]

It generate a executable with 50mb +/-. But it has the ZIP for all platforms or only for MAC? Or Only for Windows?

[2017-05-24 15:44] asticode commented on #10
As of now, it generates executables for your `runtime.GOOS` and `runtime.GOARCH`

[2017-05-24 15:54] prsolucoes commented on #10
Im not asking about the executables man, im asking about the embed electron. The embed electron will be for mac/linux/windows or for all? Im asking about the "vendor.go" file.

[2017-05-24 15:58] asticode commented on #10
The `vendor.go` file will contain what you have in the `../vendor` directory. The `../vendor` directory contains the executables for your `runtime.GOOS` and `runtime.GOARCH`. Therefore if you run with `GOOS=windows GOARCH=amd64`, the `../vendor` directory will contain **only** the executable for windows 64bits, and therefore the `vendor.go` will too.

As of now, it doesn't contain executables for

[2017-05-24 16:16] prsolucoes commented on #10
I will try make all process here and test on my Virtual Machine with Windows.

[2017-05-24 16:22] prsolucoes commented on #10
Lines executed:

[code]

Files generated:

<img width="497" alt="screenshot 2017-05-24 13 20 38" src="https://cloud.githubusercontent.com/assets/395096/26413892/ce3872de-4083-11e7-8bd6-2545dbed6809.png">

See the error on Windows:
![virtualbox_windows 10_24_05_2017_13_18_45](https://cloud.githubusercontent.com/assets/395096/26413826/9ac867f6-4083-11e7-89c5-e95628851aeb.png)

I think the first prob

[2017-05-24 16:27] prsolucoes commented on #10
I have updated line to:

[code]

Generate the same things and the error changed to:

![virtualbox_windows 10_24_05_2017_13_27_01](https://cloud.githubusercontent.com/assets/395096/26414187/c8dc9c7e-4084-11e7-9db0-f18204956335.png)

[2017-05-24 16:30] prsolucoes commented on #10
And after try execute the binary as administrator, i got this after 30seconds waiting:

![virtualbox_windows 10_24_05_2017_13_30_14](https://cloud.githubusercontent.com/assets/395096/26414321/31e2641a-4085-11e7-90b6-6c18ca77bfdf.png)

[2017-05-24 16:35] prsolucoes commented on #10
Man, answering your questions: the theory make sense, but in practice no!

1 - You need use temp folder and go has a function to get it.
2 - You need embed correct ZIP as i said. Look the screenshot, you are sending MAC ZIP version, it is ignoring my GOOS and GOARCH variable.

![virtualbox_windows 10_24_05_2017_13_33_19](https://cloud.githubusercontent.com/assets/395096/26414526/d8aa3e44-4085-11e7

[2017-05-24 16:37] prsolucoes commented on #10
Ah, and the third point, dont extract to a folder as go package. Use a folder that make sense for users and to be easy check to not redownloading, like:

[code]

This is my suggestion.

[2017-05-24 17:43] asticode commented on #11
in fact I've thought of other things to change to support 32bit better, I'll see what I can do this week

[2017-05-24 17:50] mikkoseppanen commented on #11
Thank you for the quick reply.

The changes you made fixed the issues for me, everything is working now. I've tested this by cross-compiling to GOARCH=386 on a 64bit machine and running the binary on a native 32bit Windows.

Thanks a lot! You would like to keep this issue open for the rest of your fixes? I can close this one as my initial problem is now fixed.

[2017-05-24 18:09] asticode commented on #10
1) indeed examples using `go-bindata` are not using the correct versions, I'll fix that and make it dynamic so that I don't have to change it anytime I bump either Astilectron or Electron's versions (because I will surely forget it)

2) `5.single_binary_distribution` was intended as an example which means that you should adapt it for your situation. Fact is I wanted people to be able to use `go ru

[2017-05-24 18:14] asticode commented on #11
the other thing I've thought about is using the 32bits version of Electron instead of forcing the 64bits one (which I should have done from the get go) and revert using `int`. This should fix your issue as Electron should stop sending int64 IDs. Do you mind testing it later this week when I have made the change?

[2017-05-24 18:31] mikkoseppanen commented on #11
Yes sure, my aim is to have the correct Electron embedded in the final binary based on the OS and arch. I've downloaded electron separately and changed the `go:generate` to include correct electron version based on $GOOS now and plan to include $GOARCH checking soon. I can do this on my project and then test against your changes (when I know I don't have x64 electron for ia32 binary and vice versa

[2017-05-24 18:33] asticode commented on #11
sounds good, thanks a lot. I'll keep you posted in this issue when I've made the changes

[2017-05-24 19:00] prsolucoes commented on #10
1 - I know that is an example, but if you do it in your main code, it will get automatically on real code or example. This will economize time to the developer. Auto embed correct versions for arch that you are compiling.

2 - Same as #1. If the code auto-get correct ZIP your examples can work on any system (mac, linux, windows).

About path of extract, think on "user" not on "developer". I have i

[2017-05-25 08:23] asticode commented on #11
@mikkoseppanen I've just made the changes and pushed them on `master`. You should get `ia32` binary if your `runtime.GOARCH` is `386` and `x64` binary if your `runtime.GOARCH` is `amd64`.

What logic have you implemented exactly? I've the feeling others are needing it or will need it so it may as well be part of this library if possible. What do you think?

[2017-05-25 08:43] veecue opened #12 "Introduce a simpler way of adding Menu Listeners"
Hi,
in a menu, almost every item requires an onClick listener. Is it possible to add this straight to the MenuItemOptions struct, since building a menu by hand and adding all the listeners is pretty costly.
BTW: Great project, thanks a lot!

[2017-05-25 09:05] asticode commented on #12
@veecue great idea! I've just added an `OnClick` attribute to the `MenuItemOptions` that takes a `Listener`. It will attach to the `EventNameMenuItemEventClicked` event.

Does that fit your need? If so, you can close this issue.
Cheers

[2017-05-25 09:08] veecue commented on #12
That's exactly what I wanted, thanks a lot

[2017-05-25 09:08] #12 closed

[2017-05-25 09:48] mikkoseppanen commented on #11
Great, I'll try building later today.

What I've done is I'm using `astilectron.NewDisembedderProvisioner(...)` which means I need to have the astilectron and Electron .zip packages pre-downloaded, right? Because I actually have a few build steps required before being able to bundle the whole thing into a single executable, I've added a `Makefile` that compiles my UI sources into a asar package, b

[2017-05-25 14:28] mikkoseppanen commented on #11
Hey,

I got around to test building with the latest changes. Unfortunately the initial problem is back.

I tested the following:
- 64bit build on linux (works)
- 64bit build on Windows (works)
- 32bit build on Windows (crash on launch, marshaling error from the DisplayOptions.id)
  * tried running on a native 32bit host and a 64bit host, doesn't matter.

I've checked that the go:generated file con

[2017-05-25 14:58] asticode commented on #11
OK thanks a lot for testing this, I've reverted my revert so that **astilectron** uses `int64` now. Can you confirm this is working?

[2017-05-25 15:18] mikkoseppanen commented on #11
Everything works now.

Confirmed on Linux 64bit, Windows 32bit & 64bit.

Thank you very much :)

[2017-05-26 06:41] mikkoseppanen commented on #11
I'm closing this as my original problem is now solved. Thank you for the solution.

[2017-05-26 06:41] #11 closed

[2017-05-26 07:40] asticode opened #13 "Provide a way to ease building cross-platform single binary distribution"
Related comments:

- https://github.com/asticode/go-astilectron/issues/11#issuecomment-303970242
- https://github.com/asticode/go-astilectron/issues/10#issuecomment-303819875

[2017-05-26 07:41] asticode commented on #10
Closing this issue for now as the original problem has been solved. I've created another issue referencing what has been said afterwards : https://github.com/asticode/go-astilectron/issues/13

[2017-05-26 07:41] #10 closed

[2017-05-28 21:21] prologic commented on #8
Yeah I have similar issues installing the [ui](https://github.com/andlabs/ui) package too:

[code]

[2017-05-29 08:26] asticode commented on #8
Damn, I'm tempted to remove the loader package plain and simple, since problems are related to [andlabs/ui](https://github.com/andlabs/ui) package...

Any thoughts on that?

[2017-05-29 17:34] prologic commented on #8
Yeah just remove it! It adds unnecessary complexity to this library where
focus could instead be on optimizing the library, provisioning time and
polish.

On Mon, May 29, 2017 at 09:26 Quentin Renard <notifications@github.com>
wrote:

[2017-05-30 09:07] asticode commented on #8
Agreed, I've removed the loader package

[2017-05-30 09:07] #8 closed

[2017-05-30 18:55] JisusKraist opened #15 "Basic example not working in windows 10"
I running go1.8.3 windows/amd64 on Windows 10, I use the code from the example and the windows appears blank without any error, the same example in MacOS works perfectly

[2017-05-30 19:03] #15 closed

[2017-06-01 13:51] dmigwi opened #16 "Implement a cross-platform splash screen"
In My application, have decided to make the dependencies available in a specific folder once they are unzipped and configured by the default provisioner for the first time. The issue is that, the application gives a user a bad user experience especially the first time they run the application. The default provisioner takes quite sometime while running for the first time. Can we have a splash scree

[2017-06-01 14:10] asticode commented on #16
There was a splash screen not long ago using [andlabs/ui](https://github.com/andlabs/ui) but I removed it because it was causing problem in MacOSX.

Unfortunately as of right now, I don't have any other idea on how to do it properly without adding to much complexity to this library.

If anyone has an idea, I'm opened to discussion since I do agree the first time wait is a big problem.

Anybody?

[2017-06-01 15:28] veecue commented on #13
How is your status on this since it would fix #16 aswell. Any ideas yet?

[2017-06-01 15:53] asticode commented on #13
The way I see things, that wouldn't fix #16 as well since #16 is about creating a window without using Electron whereas this issue is about helping those who want to build cross-platform single binary distribution.

Regarding this issue here's where I stand:

- when people build  cross-platform single binaries they usually use another language than GO (bash for instance) to get everything working

[2017-06-01 19:17] prsolucoes opened #17 "Suggestion to basic initializing screen"
Hi,

I search for a way to create a initializing screen, without depends on other reps. You dont need other libs. You can call per-platform their ui libraries. I search some references to you:

**1 - Windows (win api):**

Example creating window in c++:
https://github.com/LeZuse/minimal-win32-app/blob/master/main.cpp

Now in Go:
https://github.com/lxn/walk/blob/master/window.go

**2 - Linux (x11):

[2017-06-01 21:07] andela-dmigwi commented on #16
I have adopted a simple plan. I am trying to load only the basic dependencies before I display my customized splash screen.

My implementation ends up loading first; the `electron`, `astilectron` and a few other dependencies needed to run the splash screen which are quite huge in terms of size.

I think [asticode](https://github.com/asticode) if we found a mechanism where only the dependencies tha

[2017-06-01 22:51] veecue commented on #16
There used to be something called loader, but it was removed due to platform specific problmesOn 1 Jun 2017 3:51 pm, andela-dmigwi <notifications@github.com> wrote:In My application, have decided to make the dependencies available in a specific folder once they are unzipped and configured by the default provisioner for the first time. The issue is that, the application gives a user a bad user expe

[2017-06-02 03:44] lemtree commented on #16
I have the same trouble.  and  use go build -ldflags="-H windowsgui" hide the cmd window, but the black cmd window will still display 0.1s，that terrible。

[2017-06-02 05:06] veecue commented on #13
I think it wouldn't be hard to write a batch script for the job using `wget`. However I don't really have an idea about how to get this done in windows batch.

[2017-06-02 07:37] asticode commented on #13
and what would this program do precisely? My main fear is that it would be tough to add custom steps to this program...

[2017-06-02 07:39] asticode commented on #16
@lemtree I think this is another issue, I'll open a new one specific to your problem

[2017-06-02 07:43] asticode opened #18 "Avoid having antivirus starts the process for 10s the very first time"
Related comment: https://github.com/asticode/go-astilectron/issues/16#issuecomment-305681620

Same thing happened to me, even when using `-ldflags="-H windowsgui"` the process seems to start once, then disappear and then starts over again. The `vendor` folder doesn't seem to be created during the first start.

@lemtree are you using `cygwin` or another terminal than window's default to run the bin

[2017-06-02 07:57] asticode commented on #16
@andela-dmigwi I totally agree with you, unfortunately the `basic dependencies` to open a window right now are `Electron` + `astilectron` which is pretty much everything. But I agree that we should find a way to load ligther dependencies first that would allow to show a splash screen while we load the rest of the dependencies.

My idea is to look for a simple way to display an image using C and se

[2017-06-02 08:00] asticode commented on #16
Related comment: https://github.com/asticode/go-astilectron/issues/17#issue-232982135

[2017-06-02 08:02] asticode commented on #17
Thanks for the suggestions @prsolucoes, I'll take a look it seems quite interesting. Also referenced your comment in the issue #16

[2017-06-02 08:11] andela-dmigwi commented on #16
@asticode that works too. Great, I can't wait to see the initialization screen up and running..

[2017-06-02 12:21] asticode commented on #17
@prsolucoes the problem with per-platform ui libraries is that cross-platform building will be impossible. For instance it's impossible to build the `gogoa` project from a `UNIX` machine since MacOSX-specific ui libraries needed to build are not present in `UNIX` :(

[2017-06-02 13:53] prsolucoes commented on #17
Hi,

But if you use OpenGL for it? I think you can make it, no?

https://github.com/go-gl

Thanks.

[2017-06-07 15:30] andela-dmigwi commented on #16
@asticode I have been doing some tests on the code, testing the exact time that each block of code takes to run .

[code]

The above block of code consumes most of time before the initial window appears. On average it takes **629.3856925ms** to run than block of code on my machine. While the complete window appears after **970.839701ms**.

 Could reducing the time taken to execute that block of co

[2017-06-08 11:29] asticode commented on #16
@andela-dmigwi the first run is what troubles me to be honest, when dependencies have not been installed or when the program is run for the first time after having powered off the computer. Either downloading all the dependencies takes time, or running Electron for the first time takes time as well.

I'd be interested in the average time it takes to show the window **when the program is run after

[2017-06-09 07:01] morriswinkler opened #19 "Loading a second template into the primary window"
I am trying to load a second template.
So far I used the js function:
[code]

That will open a new window, my goal is to open it in the same window.

I am using the bootstrap, therefore I do not have access to the window variable in go.
Anyway, I couldn't find anything in the code that would load a new template. My guess is that this is done from the js side.

Any suggestions?

[2017-06-09 08:51] veecue commented on #19
What about simply using `document.location.href = "/templates/secondsTemplate";` ?

[2017-06-09 12:37] asticode commented on #19
@veecue's suggestion is a good one, you can navigate through templates like you would navigate from page to page in a web page using `<a>` tags or the `location` JS object. After all this is HTML and JS behind the scenes.

Also you can access the bootstrap's `*astilectron.Window` using the `AdaptWindow` option which is a

[code]

but in your case that wouldn't make your life easier.

If this answe

[2017-06-10 08:49] morriswinkler commented on #19
Yes, thanks.

[2017-06-10 08:49] #19 closed

[2017-06-10 08:50] morriswinkler commented on #19
Just as a reference, this is also a nice sollution:
https://www.christianengvall.se/electron-app-navigation/

[2017-06-30 17:01] rand99 opened #21 "paths.go:65 undefined os.Executable"
I'm getting an error when getting the repo (I have electron installed)

[code]

[2017-07-01 09:26] asticode commented on #21
@rand99 could you provide your `go env` as well?

I'll test Monday on a Mac to see if I can reproduce because I can't on Linux.

Cheers

[2017-07-03 08:44] asticode commented on #21
I've upgraded to 1.8.3 on a Mac and I can't reproduce the error. The only thing I can think of is that your go binary is 1.8.3 indeed but your $GOROOT or $GOPATH is pointing to a go version < 1.8.

Could you tell what does the command `go env` output?

[2017-07-03 09:32] rand99 commented on #21
Thank you, that was the problem.
I had an old go version installed and it got mixed up with the brew version.
Deleting GOROOT from bash_profile and deleting the old version did the trick.

[2017-07-03 09:32] #21 closed

[2017-07-05 18:04] veecue commented on #13
I have worked on the issue and came up with this rather crude proof of concept: https://github.com/veecue/go-astilectron-bindata

[2017-07-05 19:36] asticode commented on #13
This is a very nice proof of concept!

Here are a few comments:
- I think astilectron's`initElectronDownloadSrc` should be exported in a way that it would be usable in this new package instead of rewriting it as `getElectronPath`. Adding a `ElectronPath` function in astilectron might do the trick: it would be used by both `initElectronDownloadSrc` and this new package.
- maybe that would be more r

[2017-07-06 11:45] veecue commented on #13
Thanks for your feedback!
- I sent a PR (#22)
- I want to stick to streams, because the downloads would have to be cached in RAM when using templates
- Done (`astilectron.zip` and `electron.zip`)
- I tried it, but it creates a slice literal instead of a string, which led to massive RAM leakage of the compiler in my tests

Cheers

[2017-07-07 10:52] veecue commented on #13
Well, I'm a student, I got time ;)
 - I've fixed them
 - Done
If you look at my repo at this point, I think that merging it into astilectron would make sense (maybe after the app is improved to support some params, etc.)
Greetings

[2017-07-07 13:24] deepch opened #23 "examples error"
github.com/asticode/go-astilectron/examples/5.single_binary_distribution

bash-3.2$ go run *.go
# command-line-arguments
./main.go:34: undefined: Asset
bash-3.2$

[2017-07-07 13:32] asticode commented on #23
First of all thanks for your interest in `go-astilectron`.

As specified in the readme:

[code]

Therefore in order for this example to work properly, you have to run `go generate main.go` first.

Does this fix your problem?

[2017-07-07 14:41] deepch commented on #23
thx yes it fix problem

I build it  go build examples/5.single_binary_distribution/main.go examples/5.single_binary_distribution/vendor.go

if run console ./main work
if run finder on Mac OS windows closes 1 sec

[2017-07-07 15:36] asticode commented on #23
Are you sure you have the correct permissions to run the file from the Finder? Is there any error message?

[2017-07-07 19:13] asticode commented on #13
I've merged your PR.

Merging the app in astilectron could make sense, I'll have to think about how to make it smoothly and if it doesn't add unnecessary complexity and should be ketp in a separate repo.

Cheers

[2017-07-09 23:30] deepch commented on #23
thx I my fail

[2017-07-09 23:30] #23 closed

[2017-07-09 23:47] deepch opened #24 "Can i use the resize in bootstrap"
I create

[code]

and

[code]

At the first click the window changes its size but then stops doing it.

[2017-07-09 23:52] deepch commented on #24
w.Resize(200, 200) lock
if use work any time
go w.Resize(200, 200)

Please tell me how to properly resize the window using bootstrap

[2017-07-10 07:35] asticode commented on #24
1. Regarding your first problem, let's assume your window is 400x400. The first time you click on the button, the window is resized from 400x400 to 200x200 therefore you see the window being resized. The second and next times you click on the button, the window is resized from 200x200 to 200x200 so nothing happens. It's normal behavior.

[2017-07-10 07:38] asticode commented on #24
2. Can you paste the code where you see `w.Resize` being locked?

If your goal is to simply set the initial size of the Window, you can use the `Height` and `Width` attributes of the `WindowOptions` of the Bootstrap options.

[2017-07-10 10:18] deepch commented on #24
1. I certainly stretched the window before the second push.
2. Any example use MessageHandler: + w.Resize

[code]

[2017-07-10 11:37] deepch opened #25 "AppIconDefaultPath"
Could you check whether your icon changed after removal and re download vendor

![2017-07-10 14 34 46](https://user-images.githubusercontent.com/7899955/28016423-f58883c4-657c-11e7-842b-8912609b016c.png)

code

[code]

ls /Users/deepweb/Desktop/work/test2/src/github.com/asticode/go-astilectron/examples

[code]

I think a few days ago there was no such problem.

[2017-07-10 12:54] deepch commented on #24
1. problem full lock MessageHandler + bootstrap  next click no receive func MessageHandler
if

[code]
windows resize 200x200 and stop any actions lock

if

[code]
windows resize 200x200 and after 1 sec  400x400

this problem use bootstrap +  MessageHandler

I just wanted to change the size of the window after authorization.

2. yes

[2017-07-10 13:08] deepch commented on #18
I'm use

GOOS=windows GOARCH=amd64 go build -ldflags "-H windowsgui" -o windows_amd64.exe main.go resources.go app.go

And it works

The terminal window appears for a moment and disappears.

The vendor folder is downloaded for a long time, maybe it makes sense to put in an installer (current platfom)

[2017-07-10 13:11] deepch commented on #25
very strange

I delete vendor and rerun

![2017-07-10 16 09 54](https://user-images.githubusercontent.com/7899955/28019669-60a6c29e-658a-11e7-9b94-1e8a54d5dc13.png)

![2017-07-10 16 11 10](https://user-images.githubusercontent.com/7899955/28019677-6736d73e-658a-11e7-9037-416e3ed13620.png)

it no my icons ;)

[2017-07-10 14:19] asticode commented on #25
This is the icon of your first comment.

MacOSX has an internal cache regarding icons. I don't really know how it works, but if you move your projet to another folder, somehow it will show the correct icon.

This is particularly frustrating for developers but unfortunately there's nothing we can do against this internal cache.

[2017-07-10 14:20] asticode commented on #24
Can you run your program with the `-v` flag and paste the logs when it happens here?

[2017-07-15 03:23] deepch commented on #24
thx I redesign it

[2017-07-15 03:23] #24 closed

[2017-07-15 14:03] deepch opened #26 "Can I use the tray?"
https://electron.atom.io/docs/api/tray/

[2017-07-16 05:31] aashayshah commented on #13
Any updates on this?

[2017-07-16 06:30] aashayshah opened #27 "Use AppIcon from Assets generated by go-bindata"
Is it possible to do use assets linked with the binary assets generated by go-bindata for app icon logo?
Currently I have to give a file path but I would like it to use the asset file generated by go-bindata.

So, for example:
[code]
But here vendor is a directory, but if we can pass the Asset Directly instead of path, or any other way then it would be great to have app icon embedded in a single f

[2017-07-16 07:58] veecue commented on #27
Since the path is passed directly to electron, I don't think, that that is possible. My current solution is to write the AppIcons to os.TempDir()

[2017-07-16 08:07] veecue commented on #13
Everything is working for me so far. Steps:
- `go get github.com/veecue/go-astilectron-bindata`
- add this line to your code: `//go:generate go-astilectron-bindata` and run `go generate` *OR* simply run `go-astilectron-bindata`
- add `"github.com/veecue/go-astilectron-bindata"` to your includes
- add this code before `a.Start()`: `a.SetProvisioner(astilectron_bindata.NewProvisioner(Disembed))`

[2017-07-16 09:29] asticode commented on #13
For now I think this is indeed the best solution. I don't want to merge this logic in `astilectron` until it has a wider purpose such as bundling the binary as well (for darwin systems for instance) and until I'm sure it doesn't add unnecessary complexity to `astilectron`. Which could take time.

Cheers

[2017-07-16 09:41] asticode commented on #27
@aashayshah I don't think this is a good idea to put your custom resources in the `vendor` folder. It may look simpler because you're actually taking advantage of `astilectron`'s embedder feature but you'll get stuck pretty quickly as you are now.

If you take a look at the bootstrap, you'll see that in order to to embed your custom assets, you'll have to add your custom provision logic on top of

[2017-07-16 09:43] asticode commented on #26
@deepch For now this is not available but I/Somebody could add it.

Would you mind showing me a little example of what you're trying to do? That would help for testing the implementation.

Cheers

[2017-07-16 09:44] asticode commented on #25
@deepch Is your problem solved?

[2017-07-16 09:46] asticode commented on #18
@deepch do you have `cygwin` installed on your Windows machine? Or any terminal other than the Windows' default?

[2017-07-16 09:52] deepch commented on #25
At the moment I designed. I will do this in more detail later.
For the time being I have different icons for some reason.
![2017-07-16 12 50 48](https://user-images.githubusercontent.com/7899955/28246563-8ad907bc-6a25-11e7-9587-31a790541dc4.png)

3 - random icon

[2017-07-16 09:56] deepch commented on #18
I use default windows install on VM xenserver for test

[2017-07-16 10:07] deepch commented on #26
I make the program a server for working with IP cameras. It will ask the user to specify the rtsp / onvif camera and add it to the cloud via NAT using the socket.

Since it should be running constantly and is designed for servers, I would like to minimize it to the tray.

I have not yet completed the main functionality, I need a few weeks after which I can post it for demonstration.

I'll post the

[2017-07-16 10:10] deepch commented on #26
Maybe someone will have a question how to make it work jquery

I fond solution

[code]

[2017-07-16 11:42] aashayshah commented on #27
@asticode Yes, you are right, so I am closing this issue.

Thanks.

[2017-07-16 11:42] #27 closed

[2017-07-16 12:00] asticode commented on #26
@deepch I've just added basic `Tray` handling:

- doc: https://github.com/asticode/go-astilectron#tray
- example: https://github.com/asticode/go-astilectron/blob/master/examples/9.tray/main.go

Let me know if that fix your issue.

PS: Your design is awesome! Would love for you to post it for demonstration!

Cheers

[2017-07-16 12:48] deepch commented on #26
Thank you, I test it.

Well, this is not my design, I just collect different items to get a good result.

I will certainly give examples of how to create such design programs for other developers.

Now I am engaged in the integration of table solutions.

https://datatables.net

It would be convenient to use the golang struct for json for the data table

When I finish I'll make examples.

PS. You d

[2017-07-17 08:03] asticode commented on #25
@deepch are you using an .icns icon? are you sure it's not corrupted?

When I see this random icon, my guess is that your icon file is corrupted and therefore MacOSX displays a default icon instead...

[2017-07-18 14:49] lunny opened #28 "Store electron and astilectron according OS and arch"
Since some developers using Windows and others MacOS and we would like to keep the binary on the git. It's so difficult to cooperate between us. Why not store electron and astilectron according OS and arch?

[2017-07-18 14:52] asticode commented on #28
I agree with you, adding the TODO

[2017-07-18 14:54] asticode commented on #28
in fact the TODO was already there : https://github.com/asticode/go-astilectron/blob/master/paths.go#L51 :D

if anyone is interested in contributing, I'd be happy to review a PR

[2017-07-19 01:30] lunny commented on #28
@asticode I will try that.

[2017-07-21 15:34] iXo opened #30 "Bad electron architecture selected form arm in raspberry pi"
Hello,

in the file paths.go, the arch is hard coded on x64 for linux, but when running on raspberry pi (2 in my case) the valid arch must be armv7l.

Best regards.

[2017-07-21 15:44] asticode commented on #30
What does `runtime.GOARCH` contains in that case?

[2017-07-21 15:50] iXo commented on #30
go env, gives me GOARCH as "arm"

uname -a for infos :
Linux raspberrypi 4.4.21-v7+ #911 SMP Thu Sep 15 14:22:38 BST 2016 armv7l GNU/Linux

[2017-07-22 08:45] asticode commented on #30
Could you tell me what does `go env` fully output?

Electron has either `arm` and `armv7l`, and the Golang wiki says there is a GOARM environment variable but I want to make sure in your case.

[2017-07-22 09:10] asticode commented on #13
@veecue I've thought about this issue and I've changed my mind, I think now is the time to merge your repo into astilectron if you're still up to it.

Here's what I've in mind:

- create a `cmd` folder at the root level, then a `astilectron-bindata` folder into it and then the content of your `go-astilectron-bindata/app.go` into a `main.go` file
- your `NewProvisioner` should go into the `provisio

[2017-07-22 09:12] asticode commented on #26
@deepch did you have the chance to test the Tray? Is it working fine for you?

[2017-07-22 09:14] asticode commented on #30
And if you don't see a `GOARM` line in `go env`, can you tell me if you have a `GOARM` environment variable anyway?

[2017-07-22 11:52] deepch commented on #26
I have not had time to check everything yet.
I build mac

![2017-07-22 14 35 26](https://user-images.githubusercontent.com/7899955/28490874-48ff108a-6eed-11e7-8083-5aea7ecc8d56.png)

and build for windows

![2017-07-22 14 50 13](https://user-images.githubusercontent.com/7899955/28490876-5363fe8c-6eed-11e7-961d-537bde035820.png)

It seems to me that something is wrong with the picture

I will check

[2017-07-23 07:37] veecue commented on #13
I'll start working on it. However, I noticed one problem: I use the `github.com/ogier/pflag` package because the `flag` package doesn't support POSIX-style flags with shortcuts (what where the go devs thinking???). Do you mind two different flag packages used in one repo?

[2017-07-23 07:45] asticode commented on #13
I'd rather limit the imports and have only one flag package (the `flag` one) in the repo if that's okay with you

[2017-07-23 08:30] veecue commented on #13
It's okay. Should I use the short forms `c` oder the long forms `current-only` then?

[2017-07-23 11:26] asticode commented on #13
I prefer the short form `c`

[2017-07-23 17:09] veecue commented on #13
Okay, fixed that one. How would you like to handle licensing and merging the repos?

[2017-07-23 18:06] asticode commented on #13
I was thinking you could make a PR with the changes I mentioned in a previous comment (https://github.com/asticode/go-astilectron/issues/13#issuecomment-317169253). Did you have something else in mind?

[2017-07-24 07:52] iXo commented on #30
Here is what go env gives me :

`GOARCH="arm"
GOBIN="/home/pi/Documents/gopath/bin"
GOEXE=""
GOHOSTARCH="arm"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/pi/Documents/gopath"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_arm"
GCCGO="gccgo"
GOARM=""
CC="gcc"
GOGCCFLAGS="-fPIC -marm -pthread -fmessage-length=0 -fdebug-prefix-map=/tmp/go-build582105204=/tmp/go-build -gno-re

[2017-07-25 06:55] asticode commented on #30
@iXo I've pushed an `arm` branch, could you tell me if that fixes your problem?

[2017-07-29 19:10] shayne opened #31 "Tray click event"
Just started working with go-astilectron and ran into a case where I wanted to click/double-click the tray icon (win platform). Doesn't look like those events are sent up to go-land.

[2017-07-29 19:17] asticode commented on #31
@shayne you're right, I'll add it to the TODOs

[2017-07-30 00:14] shayne commented on #31
If you want to point me in the right general direction I can see about sending a PR.

[2017-07-30 07:28] asticode commented on #31
Sounds good. Here's what has to be done:

- first off, you'll have to modify https://github.com/asticode/astilectron. Check out Electron's doc for Tray: https://github.com/electron/electron/blob/v1.6.5/docs/api/tray.md#event-click and see all the available events. You'll have to add them in the list at https://github.com/asticode/astilectron/blob/master/src/consts.js#L31. Constants would be named

[2017-07-30 07:32] asticode commented on #26
@deepch Seems like there's a problem in the image path in the windows example: is `C:\src\github.com\asticode\go-astilectron...` a valid path?

[2017-08-02 11:59] tmacychen opened #32 "Can't end an app"
While I create a window for a url like "https://wx.qq.com" .if I close the app but the program doesn't end up.
I try to find out the reason.Then I find the program bolcked in a.Wait().
so If I modify the function a.Stop()
[code]
a.Wait()
[code]
It will not blolck and end up right now.But I don't clearly understand why the website is blocked.Maybe the channel need to close ,not set value nil.

[2017-08-02 12:29] asticode commented on #32
Something wrong must be happening for the app not to close properly. Could you execute your program with the `-v` flag and paste the logs here? That could give us more information.

The `a.Wait()` method is here to ensure we can handle signals properly and above all to allow the execution of Electron not to be stopped right away. With the changes you've made, you have removed the `for` loop theref

[2017-08-02 12:30] asticode commented on #30
@iXo did you have time to test it?

[2017-08-02 13:17] iXo commented on #30
Sorry @asticode for the delay, the rpi wasn't availble, your modification(s) in the arm branch are valid, here is the cli log proving it :

Thanks for all.

[2017-08-02 13:25] asticode commented on #30
Perfect! I've merged this branch in `master`.

Thanks for testing on an ARM arch :)

[2017-08-02 13:25] #30 closed

[2017-08-02 13:32] tmacychen commented on #32
Thanks for your replay! Actually I have been used -v option for debug.

here is the -v output in original program
[code]
the program blocked in "wait for quit",if I push the close button on the App Window

and if I use "Ctrl + C"
[code]
It doesn't stop,and continue to be blocked!

here is the function :
a.Stop()
[code]
a.Wait()
[code]

[2017-08-02 13:39] tmacychen commented on #32
For another thing,is the for loop necessary? the main thread will be blocked  at a.Wait , waiting for the a.channelQuit ,the for loop just run  once.

[2017-08-02 14:22] asticode commented on #32
OK I think I know what's happening.

Could you replace the `Wait` function by the following code and tell me what's happening:

[code]

[2017-08-02 14:23] asticode commented on #32
And you're right regarding the for loop, it's useless, I'll remove it 👍

[2017-08-02 15:06] tmacychen commented on #32
the a.Wait
[code]

the output :
[code]
it will end up right now,but the select seems  unused

[2017-08-02 15:15] asticode commented on #32
OK here's what's happening:

- you ask `go-astilectron` to create a window
- `go-astilectron` blocks until it receives a `did.finish.load` event from electron...
- **which is never sent in your case!!** (therefore the `a.Wait()` is not called yet)
- when you `close` the window, the GO context is cancelled, which kills the execution of electron, which calls `a.Stop()` which closes `channelQuit`
- a

[2017-08-02 15:43] tmacychen commented on #32
Answer:
1. the URL "wx.qq.com" is a communication web app in China . it start with a QR code page, user should scan it with phone app "Wechat".
2. it works! And thank you for explain where is the program blocked.I don't know the detail about electron. I am a new user... I try to use golang for GUI app,and your project looks great! Hope this project has a good development foreground

[2017-08-02 15:54] tmacychen commented on #32
here is another thing I just found !
if I use URL : "wx2.qq.com" , the old version will be ok also!
but I actually don't know why.

[2017-08-02 16:15] asticode commented on #32
Glad it works. I've just merged the changes to the `Wait` method in the `master` branch.

Is there any difference between `wx.qq.com` and `wx2.qq.com`? Question is why in one case Electron sends a `did.finish.load` event and not in the other case.

[2017-08-03 01:56] tmacychen commented on #32
I download the two pages , but can't find any difference.
And I just test it again.
the `wx.qq.com` has language select button
![1](https://user-images.githubusercontent.com/3626913/28902389-36d2e8f8-7831-11e7-8810-705661de653b.png)
if I nothing to do , just close the page and it will be blocked.
if I choose Chinese or English, then close the page , it will close successfully.
the output is
[code]

[2017-08-03 08:10] asticode commented on #32
Is there a chance you're trying to close the window too quickly before it had time to load completely (and `wx.qq.com` loads slower than `wx2.qq.com`) ?

Could you test the following without choosing language first, and a second time with choosing the language:
- Run your program with `wx.qq.com`, wait 10 seconds, close it and paste logs here
- Run your program with `wx2.qq.com`, wait 10 seconds,

[2017-08-03 12:55] tmacychen commented on #32
In old version code
`wx.qq.com` output

[code]
`wx2.qq.com` output
[code]

[2017-08-03 12:58] tmacychen commented on #32
When the page load over , i choose the Chinese selection
[code]

[2017-08-03 13:27] asticode commented on #32
Mmm this is really weird, there must be something saying to Electron the page is not fully loaded yet until you choose a language... I'll see whether `go-astilectron` needs to listen to a different event than `did.finish.load` when creating a window.

[2017-08-03 13:28] asticode commented on #32
In the meantime, is your issue fixed? Can we close this issue?

[2017-08-03 14:24] tmacychen commented on #32
Yes , your commit has solved my problem ,thanks!

[2017-08-03 14:24] #32 closed

[2017-08-07 13:28] xplodwild opened #33 "RaspberryPi: Display ID should use int64 and invalid (non-arm/armv7) electron package downloaded"
Hi everyone,

Running into two small issues when using Astilectron on a Raspberry Pi (cross-compiled using GOOS=linux and GOARCH=arm)

First, the wrong electron package is downloaded. I haven't debugged it yet, but the default x64 package is downloaded instead of the arm (or even better, the armv7l) one.

Second, the display ID when using the full KMS driver on Raspberry Pi 3 B is larger than 64 b

[2017-08-07 14:19] asticode commented on #33
@xplodwild are you sure you have fetched the last changes from the repo because it looks like problems that I've already been fixed:

- https://github.com/asticode/go-astilectron/blob/master/display.go#L21
- https://github.com/asticode/go-astilectron/blob/master/paths.go#L112

[2017-08-07 14:24] xplodwild commented on #33
Whoops my bad, I'm using glide which took the v0.4.0 tag. I'll try with master.

[2017-08-07 14:25] xplodwild commented on #33
One note regarding the arm path though, I think you should use the armv7l release instead of the arm. The Go team dropped support for armv6 anyway in the compiler and outputs only armv7 binaries anyway, so the armv7l binaries are better optimized.

[2017-08-07 14:31] asticode commented on #33
@xplodwild I've updated to `armv7l` (I've no way of testing it so let me know if that causes any problems) and I've also created a `v0.5.0` tag which should help with glide.

If that fixes your problem, please close this issue.

Cheers

[2017-08-07 15:33] xplodwild commented on #33
All good! Thanks

[2017-08-07 15:33] #33 closed

[2017-08-10 07:47] #28 closed

[2017-08-10 08:14] lunny commented on #18
I have encountered this problem too. Windows 7 SP1 x64. Any update of this?

[2017-08-10 08:47] asticode commented on #18
Nah, unfortunately I've had little time to work on this. The weird thing I've discovered is that it seems to be linked to executing a binary in windows in a certain way... but I don't have more information.

Feel free to investigate.

[2017-08-14 23:07] beardww opened #34 "running the menu example with bootstrap example"
I've tried unsuccessfully to invoke a menu using /example/8.bootstrap, and would like suggestions.

I've used the AdaptWindow, and AdaptAstilectron functions via /example/8.bootstrap, in the bootstrap.run options. In the case of AdaptAstilectron, it works, and then it's quickly replaced when the bootstrap loads  and in the case AdaptWindow, it ignores the creation of the menu altogether, with the

[2017-08-15 08:38] asticode commented on #34
@beardww there's nothing you could have done since the `AdaptAstilectron` function is executed before `a.Start()`. However I've just pushed a new option that I should have added from the get go: `OnWait`. Its signature is `func(a *astilectron.Astilectron, w *astilectron.Window) error` and it's executed juste before `a.Wait()`. Therefore you can create your menu using this callback.

Let me know ho

[2017-08-15 18:04] beardww commented on #34
Thank you Astcode. Built binary in OSX 10.10.5/go1.8.3 darwin/amd64 and tested binary on OSX 10.10.5 and win7 SP1/AMD successfully.

[2017-08-15 18:06] #34 closed

[2017-08-15 20:07] beardww commented on #18
I haven't encountered this glitch, but I'm building the windows binary in OSX for Win7SP1x64

[2017-08-18 22:54] rand99 commented on #13
as a bundle helper ...

for osx there is this tool to generate an app with icon (go)
https://github.com/murlokswarm/macpack
maybe this code could be used

[2017-08-19 22:04] rand99 opened #35 "One full example outside of this repo"
I think it would be good if you could provide one full example in a separate repo which uses this repo.

Basic needs:
1) Cross platform single binary building (but working - https://github.com/asticode/go-astilectron/issues/13)
2) real single binary as in -css, templates, html static files, icons, images or whatever included-
3) Full-Featured (everything that is currently implemented) included and

[2017-08-19 22:10] veecue commented on #35
What about my GroupMatcher (listed in the examples)? 

[2017-08-20 06:58] asticode commented on #35
@rand99 I think you're right, I've the feeling that the readme is too long and few people logically don't read it all whereas a full example in a separate repo that people could run would make a huge difference.

@veecue your project is really nice but I think this full example should be less clever and have way less custom logic. And its sole purpose should be showing how to use all the features

[2017-08-20 06:58] asticode commented on #35
Btw, I've created the repo https://github.com/asticode/go-astilectron-quick-start if any of you want to lay the first stone :)

[2017-08-20 06:59] asticode commented on #13
@veecue did you have time to think about this?

[2017-08-20 20:48] am4ne opened #37 "How can I use jQuery?"
I try to use jQuery.
`<script type="text/javascript" src="../jquery-3.2.1.min.js"></script>`
but it doesn't work.
How can I use it on this library?

[2017-08-20 20:53] am4ne commented on #37
Sorry, I found solution -> #26

[2017-08-20 20:53] #37 closed

[2017-08-21 14:52] lunny opened #38 "How to build the app package for macOS ?"
Maybe another tool to do the pack thing for macOS?

[2017-08-21 15:06] asticode commented on #38
Checkout this useful comment: https://github.com/asticode/go-astilectron/issues/13#issuecomment-323478035.

It provides a link to a repo doing just that I think.

Does that fulfill your demand?

[2017-08-22 01:21] lunny commented on #38
@asticode I don't think that's the same thing. A macOS package just like directory `electron-darwin-amd64` 's structure. But put the binary and resources on it. For example, https://github.com/murlokswarm/macpack implemented a pack tool for macOS for https://github.com/murlokswarm/app project.

[2017-08-22 08:41] asticode commented on #16
Hey guys, good news I've found time to work on the splash screen and I've came up with a solution that works on Linux et MacOS only for now (Windows will come shortly).

I would have prefered to tell you about it with Windows working as well, but my feeling is that it could still be beneficial to get your first thoughts/tests with both Linux and MacOS for starter.

The project is [astisplash](http

[2017-08-22 08:43] asticode commented on #17
Closing this as it's a duplicate of #16 and it should stay the main thread (I've referenced this issue in #16 )

[2017-08-22 08:43] #17 closed

[2017-08-22 23:00] spieglt opened #39 "Windows support?"
I can't seem to build the examples because paths.go uses os.Executable() which does not work on Windows. Is this known behavior? Thanks.
[code]

[2017-08-23 08:17] asticode commented on #39
@spieglt are you sure you're using Go 1.8+ ? This function only exists in Go 1.8+

[2017-08-23 09:12] asticode commented on #13
@veecue I had a change of heart regarding this issue. Let me explain:

Following #38, I've created [go-astilectron-bundler](https://github.com/asticode/go-astilectron-bundler) which provides a way to bundle an Astilectron app properly (starting with the proper MacOS bundle structure).

I think that's what I had in mind when I created this issue:
- **go-astilectron** that would provide a way to com

[2017-08-23 09:38] veecue commented on #13
Hey @asticode,
this sounds really promising. Do you aim to create macOS apps, windows installers and linux packages for all distros? I really appreciate this project. I am still hoping for golang to provide a proper way to embed binary resorces, but until then, we could integrate my project. I could also test your new repo in a great way, by trying to compile GroupMatcher :)
TL;DR: I'm interested

[2017-08-23 09:49] asticode commented on #13
For now I'm aiming at something simpler than installers:
- for MacOS, create a bundle structure (creating the proper folders and files)
- for Linux and Mac, add an icon to the exec

I've also decided to simplify the bootstrap and move it in a separate repo (https://github.com/asticode/go-astilectron-bootstrap) so that we can give a more structured way of using **Astilectron** to its users.

Do you

[2017-08-23 10:57] veecue commented on #13
I don't think, that Linux executables support icons. If you want to create .desktop files, I really would go that step and create complete packages with proper prefixes (for example /usr/bin/GroupMatcher for the executable and /usr/share/applications for the .desktop). Then we also could use electron as a package dependency instead of the provisioner thing. What do you think? Windows is a completl

[2017-08-23 11:54] asticode commented on #13
Mmm I'd rather keep the same overall logic for every os and keep using the provisioner thingy. Creating a `.desktop` for linux however seems like a good idea. Feel free to create a PR to add this.

[2017-08-23 14:59] spieglt commented on #39
Ah, thanks. I won't be around the computer on which I was having the issue until later, but I've gotten it to work on another Windows machine now so that must have been it.

[2017-08-23 14:59] #39 closed

[2017-08-23 22:08] spieglt commented on #39
Confirmed: I had been on Go 1.7.5. Thanks for the help.

[2017-08-23 22:33] spieglt opened #40 "Standalone binary instructions?"
I see that example 5 concerns single binary distributions, but I'm not sure what these commands do exactly:

[code]

Does this just apply to the last example you've run? Where does it put the binary? Also, the `go generate` command works on one of my machines, but on another machine I get:
[code]

It seems as though this machine doesn't create the go-astilectron\examples\vendor directory when runn

[2017-08-23 22:57] spieglt commented on #40
Ah, I see that the executables output to `go\bin` are _not_ self-sufficient and recreate the `go\src\github.com\asticode\go-astilectron\examples\vendor` directory if it's not there.

[2017-08-23 22:58] spieglt commented on #40
So my question is: what is the proper way to create a go-astilectron binary that can be copied to and run on a machine that has never had Go or Electron installed, without creating or shipping any additional files. Or can this be done?

[2017-08-23 23:08] spieglt commented on #40
Another update: the `go generate` failing (resulting in the `Failed to stat input path` issue) was resolved by properly setting my GOBIN and GOPATH environment variables.

[2017-08-24 08:55] asticode commented on #40
@spieglt theorically here are the final files your user needs on his computer to launch an astilectron app :

- a valid go binary containing your code
- vendor files (electron, astilectron)
- external resource files (html, css, js, icons)

Furthermore, you'll need additional os-specific files to bundle your app so that the executable looks nice to your user (specific file structures to get a nice

[2017-08-24 09:02] asticode commented on #40
But back to your questions regarding the `5.single_binary_distribution` example:

- the `go generate` command will use `go-bindata` to embed the `vendor` folder in your binary. That way when you’ll execute the binary, it will first disembed the `vendor` folder and recreate it on disk. But for that to work you need to have the `vendor` folder already (which is a pain in the ass and which the [bundl

[2017-08-24 09:03] asticode commented on #40
Does that answer your questions?

Feel free to ask some more, I'm pretty sure I haven't been really clear about this process in the documentation so others may the same questions. And that should help me enhance the documentation.

Cheers

[2017-08-24 14:50] spieglt commented on #40
So I could theoretically just embed the vendor and resource files into my Go executable, and upon starting, just write them and launch the app? I'm already using go-bindata for a similar purpose in my project so it wouldn't be a big change. And there's no reason they have to be in your GOPATH specifically, correct? They could just be beside the main executable, wherever it happens to be?

Also, wh

[2017-08-24 16:04] asticode commented on #40
Yeah you're right about embedding the vendor and the resource files. But that's better if astilectron provides a way to do that so that most people use a validated way of doing it.

Regarding the error, it's "normal", some of my changes are in a branch I've not yet merged :(

I'll do it this week-end.

[2017-08-24 17:17] spieglt commented on #40
Awesome! Last question for now: You say

If I write an astilectron app now, how do I do this? I can generate the vendor.go file just fine, and then `go install` so that I get a binary, but then when I run it it still puts files under `go/src/github.com/asticode/go-astilectron-bootstrap/examples/vendor`. How do I get it to just write the files wherever the  main executable happens to be? I figure i

[2017-08-24 17:18] asticode commented on #40
If I may add, I've created the bundler/bootstrap/demo yesterday so this is still pretty fresh. But this is definitely the way to go for astilectron.

Therefore if you're patient enough to wait until this week-end when I'll have time to implement the linux/windows portion of the bundler and merge other changes, I'd recommend you wait instead of implementing yourself embedding the vendor + resources

[2017-08-24 17:21] spieglt commented on #40
Cool, no worries. Excited to give it a try this weekend. Thanks again.

[2017-08-24 17:21] asticode commented on #40
As of now, you need to disembed the vendor.go and add this line:

[code]

(update with the correct path of course)

[2017-08-24 18:01] asticode commented on #13
@veecue did you have time to work on adding the `go-astilectron-bindata` features to the bundler? If not, do you mind if I start working on it this week-end? I won't have the time to finish it, but I want to be able to test everything in action this week-end.

[2017-08-25 14:50] lemtree commented on #16
@asticode That's really great

[2017-08-25 17:29] asticode commented on #25
@deepch is your issue resolved?

[2017-08-25 17:31] asticode commented on #26
@deepch is your issue resolved?

[2017-08-25 17:35] asticode commented on #13
@veecue I've added the astilectron-bindata logic to the [bundler](https://github.com/asticode/go-astilectron-bundler). You can check it out and let me know if I've missed anything.

You seem familiar with the Linux `.desktop` extension therefore feel free to submit a PR for this TODO: https://github.com/asticode/go-astilectron-bundler/blob/1d47c8fd03bdedd0892779043019f9b2f8d557ee/bundler.go#L400.

[2017-08-26 09:11] asticode commented on #40
@spieglt the whole process is working now for linux, mac and windows event though some nice-to-have features have not been implemented yet :)

You can check out the [demo](https://github.com/asticode/go-astilectron-demo) to see a working example.

For now the [bundler](https://github.com/asticode/go-astilectron-bundler) makes the assumption that you're using the [bootstrap](https://github.com/asti

[2017-08-26 10:06] asticode commented on #40
Windows icon has been added :)

[2017-08-26 10:10] asticode commented on #38
@lunny I've implemented a [bundler](https://github.com/asticode/go-astilectron-bundler) that will bundle your `astilectron` app if you've used the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap) (which has its own repo now and has been updated. It's recommended to use it.).

The bundler will bundle for MacOS (creating the files structure your issue is about) but also for Windows

[2017-08-26 10:37] veecue commented on #13
I think that we can close this issue now :) I have created a few new ones on the bundler

[2017-08-26 11:17] lunny commented on #38
Great job! I will check that.

[2017-08-26 11:20] lunny commented on #38
@asticode but some different things between my situation. I used github.com/lunny/gop to manage my repos which is not in $GOPATH. Could the bunlder be more flexible?

[2017-08-26 11:32] asticode commented on #38
@lunny I can surely try to make it more flexible :)

Can you create an issue in the [bundler](https://github.com/asticode/go-astilectron-bundler)'s repo so that it's easier to track for the community?

And in this issue can you paste the logs you get when executing the bundler (with the `-v` flag) and explain precisely where this difference is problematic?

I will close this issue as it's now move

[2017-08-26 11:32] #38 closed

[2017-08-26 11:32] #13 closed

[2017-08-26 13:04] asticode commented on #31
@shayne I've added the basic tray click events starting with https://github.com/asticode/go-astilectron/blob/master/tray.go#L9

Does this fix your issue?

[2017-08-26 15:57] spieglt commented on #40
Awesome! Still getting some errors when trying to install the demo on Mac, however:
[code]

[2017-08-26 16:28] shayne commented on #31
Yeah this should work. I ended up moving to a platform-native implementation in the mean time (for other reasons). But will give astilectron another look!

[2017-08-26 16:40] #31 closed

[2017-08-26 16:50] asticode commented on #40
@spieglt makes sense, I've forgot to add a basic `bind.go`. Should be fixed now.

Could you retry?

[2017-08-26 16:52] #25 closed

[2017-08-26 17:12] spieglt commented on #40
The build process works like a dream! The resulting app does not open, however:
[code]
From a quick Googling it seems like something isn't executable that should be, but I checked that `Astilectron demo.app/Contents/MacOS/Astilectron demo` _is_ executable.
Also, just to let you know, I wrote an Electron app the other day and tried embedding it with go-bindata. I was going to write/launch it and us

[2017-08-26 18:58] asticode commented on #40
@spieglt I've run a few tests on MacOS and I've also encountered some errors with the icon paths not being absolute. I've pushed a fix in the bootstrap. Could you run a `go get -u github.com/asticode/go-astilectron-demo/...` and try again bundling + executing the demo?

I agree with you regarding the final size of the project. With astilectron, the size of the app before disembedding everything is

[2017-08-29 01:02] spieglt commented on #40
Thanks! I ran the demo commands again and got this:
`FATA[0000] opening file  failed: open : no such file or directory`

[2017-09-03 08:08] asticode commented on #40
closing this issue for now as the demo has it's own repo and I've updated the readme

[2017-09-03 08:08] #40 closed

[2017-09-03 08:10] asticode commented on #35
@rand99 I've updated the readme to point the the [demo](https://github.com/asticode/go-astilectron-demo) repo. I'm closing this issue but feel free to create an issue in the demo repo if you feel the demo is still not good enough (and it is :D)

[2017-09-03 08:10] #35 closed

[2017-09-03 15:37] rand99 commented on #35
Wow! Nice! Just tested it for Mac and Win. You did it!!!!
So from now on people can easily create multiplatform native apps with go.

Thank you!

[2017-09-05 20:13] vivace-io opened #41 "Unexpected errors after failed initial run"
Canceling the download/extraction for the initial astilectron/electron dependencies returns the following error:

[code]

I would expect that if the process is interrupted at `.Start()` that on the next start it should detect the previous run was interrupted and the extraction directories are not completed that the original zips are deleted, the download restarted.

In this case, the zips were not

[2017-09-06 08:47] asticode commented on #41
@vivace-io nice find! I faced the same problem while developing but I deleted the .zip file instead of fixing it which was lazy and bad. I will fix that!

[2017-09-06 09:44] asticode commented on #41
@vivace-io I've pushed a fix, should be all good now.

Does that fix your issue?

[2017-09-06 18:04] vivace-io commented on #41
Still experiencing the same issue. I'm not sure if the cleanup on error/cancelled context is getting hit. Again, not a big issue honestly.

The way I'm replicating this is by starting the app, and stopping it a second later. Here's a simplified snippet that I'm running and getting this error.

[code]

Hope this helps, I'll try to look in to it as well.

[2017-09-07 13:23] asticode commented on #41
@vivace-io My apologies, I fixed the problem in the [bundler](https://github.com/asticode/go-astilectron-bundler), not when you use astilectron without using the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap) and the [bundler](https://github.com/asticode/go-astilectron-bundler).

Basically, in order to make it work, you have to handle signals on your own. Since what happens is:

[2017-09-07 18:21] asticode commented on #41
@vivace-io I forgot that you can allready handle signals in `astilectron` :) Therefore you should be able to do:

[code]

And that should remove the .zip file if not downloaded completely (however I can't test it right now, I'm relying on my hypotheses :D)

[2017-09-07 21:02] vivace-io commented on #41
So `app.HandleSignals()` should cancel that context if sigterm is sent? That's exactly what I was looking for! Thanks.

[2017-09-07 21:02] #41 closed

[2017-09-08 17:09] joeblew99 opened #42 "What are the 2 folders created on startup?"
Am using the latest demo project from osx.

When I run the eye on windows of the demo it creates 2 folders on startup.
Is this by design ?

Does not do that on osx.app

Btw the tray works on windows.

[2017-09-09 08:21] asticode commented on #42
This is by design **if you're using the bootstrap + bundler** (which is the case with the demo). If you're using `go-astilectron` on its own, you'll see only one folder, the `vendor` one which contains the `electron` + `astilectron` JS apps.

And the 2 folders are also created in osx at `/path/to/Astilectron Demo.app/Contents/MacOS`.

Does that answer your question?

[2017-09-11 11:30] joeblew99 commented on #42
Thanks yes it does.
I guess i did not noticed it on OSX inside the Contents folder

Is there a way to avoid this i wonder.. If a golang server is started on a go routine, with the main GUI then can the golang server serve these assets to the GUI ?

[2017-09-11 13:25] asticode commented on #42
sure, but the golang server has to get the files from somewhere, and that's when you'll need a `resources` folder once again...

[2017-09-12 09:08] joeblew99 commented on #42
Yes i have them on the mobiles, desktop as a service.. Just saying..

[2017-09-18 08:51] joeblew99 commented on #16
You can use CGO fro cross platform builds. This was specifically built to handle this problem.
It also does mobile builds without using the gomobile stuff.
It will allow you to then built react native apps for mobile with all the same asticode golang code with some adjustments. This is because react native supports web views as well as menus (native just like electron).

https://github.com/karalab

[2017-09-18 08:56] joeblew99 commented on #42
let me explain my approach as it might help.

For desktop, you can have a golang service (which has all your golang and db code) and the GUI (which is the electorn app) running inside an initial process that forks to run both.

Others like me like to NOT have it forked. Instead the golang server runs as a service so its always there. The Electron GUI is just a normal app and the resources it needs

[2017-10-08 08:04] asticode commented on #42
closing it here and will open a new issue in the bootstrap

[2017-10-08 08:04] #42 closed

[2017-10-27 16:06] tehsphinx opened #45 "Tray menu overwrites application menu"
Hi!

I just started using go-astilectron. I had a look at the demo and realized that when adding TrayMenuOptions they seem to overwrite the menu options.

I then used the Run() as a sample and eliminated the bootstrap package from my test but the issue is the same.

Am I doing something wrong?

Note: I am working on MacOSX 10.12.6.

[2017-10-28 13:23] asticode commented on #45
@tehsphinx can you post the full code that causes the problem ?

[2017-10-28 15:03] tehsphinx commented on #45
Sure, I can describe more closely what I did.

Take a fresh copy of the demo:
`go get -u github.com/asticode/go-astilectron-demo`

Edit main.go by adding a TrayMenu:
[code]

Use the bundler to build the app on Mac:
`astilectron-bundler -v`

Run the app:
`open output/darwin-amd64/Astilectron\ demo.app/`

Now the tray icon has a menu (yay!) but the application menu has been overwritten with the newl

[2017-10-29 07:48] asticode commented on #45
@tehsphinx I've fixed the problem. Here's what you need to do to fetch the changes:

- `cd /your/path/to/go-astilectron-bundler`
- `go get -u ./...`
- `cd /your/path/to/go-astilectron-demo`
- `go get -u ./...`

Does this fix your issue?

[2017-11-01 07:21] asticode commented on #45
@tehsphinx Does this fix your issue?

[2017-11-01 15:40] cj123 opened #46 "application 'crashes' on window close"
Not sure if this is macOS only or not - I don't have any other information available.

When clicking the close button on a window (in the [asticode/go-astilectron-demo](https://github.com/asticode/go-astilectron-demo) application), the following sequence of events happens:

[code]

In this case, the "crash" has no real negative affects since the application only has the one window anyway. However

[2017-11-01 18:07] asticode commented on #46
@cj123 it seems like electron closes the app when the users closes the window. However there seem to have ways to counter-act this behavior:

https://discuss.atom.io/t/how-to-catch-the-event-of-clicking-the-app-windows-close-button-in-electron-app/21425/8

I'll add an attribute to the WindowOptions so that when you click on the red cross it only hides the window. Meaning the user will never be abl

[2017-11-01 23:39] zhuharev opened #47 "How can I use http server"
I want to use an http framework to accelerate the development process. Could I do it with astilectron, as for example [go-nw](https://godoc.org/github.com/lonnc/golang-nw#hdr-Instructions).

Please show the example

[2017-11-01 23:45] zhuharev commented on #47
Oh, I found solution here https://github.com/veecue/GroupMatcher/blob/master/Main.go

[2017-11-01 23:45] #47 closed

[2017-11-02 07:21] asticode commented on #46
@cj123 in the meantime check out the `Closable` attribute in `WindowOptions`, I've not tested it but maybe if you set it to `true` it will do what you desire...

[2017-11-02 07:59] tehsphinx commented on #45
@asticode: Yes it does!

Thank you very much. I will play more with this project. I like it :)

[2017-11-02 08:00] #45 closed

[2017-11-02 11:15] cj123 commented on #46
@asticode I believe that disables the close button on the window entirely. I can try work with that and use a "close" button in my HTML that performs the window close action for now, but i'd much rather the window controls be used for that purpose 😄

[2017-11-02 13:01] asticode commented on #46
@cj123 ok good to know, I'll add the the attribute in WindowOptions anyway

[2017-11-04 10:29] asticode commented on #46
@cj123 I've added 2 things:

- a `MinimizeOnClose` window Option. Just put it to `true` if you want to minimize the window when one tries to close it
- a `Quit()` method to `*Astilectron`. Indeed what I've experienced on Linux is that using the `Close` menu role, Electron simply closes the window without trying to quit the app, resulting on simply minimizing the window when the previous option is

[2017-11-04 15:51] tehsphinx opened #48 "event.preventDefault() for go events"
I am currently trying to implement a dialog to ask if the application should really be closed. (My App is a little management interface for a local server which should not be closed accidentally, since it shuts down the sever then.)

In Electron one would use `event.preventDefault()` to stop the app from closing. Is there another way to achieve this behaviour or could this be implemented? Basicall

[2017-11-04 15:57] tehsphinx commented on #46
My experience is that only a "close" on the main window actually closes the application. Other windows can be closed without the app being closed.

In my opinion a `MinimizeOnClose` option is a good option to have, regardless!

[2017-11-04 17:40] asticode commented on #48
@tehsphinx I think that's a good feature to add natively. Here's what I've in mind:

- add a `ConfirmClose` attribute to `Astilectron` options that would represents a confirm dialog
- when quitting the app, the confirm dialog is showed and the app is closed only if the button on the left has been clicked

Does that sound good ?

[2017-11-04 19:46] tehsphinx commented on #48
It would solve the example case of closing the app. But what about the general need to prevent the default from happening with any event? I have too little experience with electron yet, to suggest a proper solution but I hope I will get there soon.

Just ran into another 'issue' which I will create a new ticket for. Hopefully I can start creating PRs at some point soon rather than tickets.

[2017-11-04 19:51] asticode commented on #48
@tehsphinx in the end I've added a `MessageBoxOnClose` window option that you can set up this way:

[code]

If you're using the bundler to bundle your app, you'll need to `go get -u` it and run `make` once in its folder.

I see what you're saying about the general need to prevent default actions for any event but I'm afraid the issue has to be more precise than that to be fixed in a clean manner.

[2017-11-04 19:52] tehsphinx opened #49 "Can't use synchronousEvent inside a listener"
Currently I am playing with minimize, maximize, resize events of a window. I realized that they are not triggered when minimizing (etc.) the window on my mac. (Put some debugs in the code to be sure but they are definitely not triggered.)

Not sure if this is a general issue with JS side events not correctly relayed to go or not.

[2017-11-04 19:53] tehsphinx commented on #48
Thanks! I will think about it some more, too!

[2017-11-04 19:56] asticode opened #50 "Fix data race"
[code]

[2017-11-04 19:58] asticode commented on #49
@tehsphinx can you paste the code that you're using to catch those events?

[2017-11-04 20:30] tehsphinx commented on #49
@asticode:

Just investigated another thing where I would close the window (fire `window.event.closed`) which in turn would bring "App has crashed" message and then try to fire `app.crash` -- but it cannot because the channel is still blocked since `window.event.closed` is still processing.

Here a suggestion to fix this in the Dispatcher:
[code]

After applying that the minimize, maximize, resize

[2017-11-04 20:38] tehsphinx commented on #49
Probably better to pass `e` (Event) as a parameter to the go function as well...

[2017-11-05 07:49] tehsphinx commented on #49
I've slept on this solution and have a few more thoughts on it:

1. I ran into a issue earlier on where I used a function that triggered an event inside a function that was triggered by another event. That did not work unless I started a new go routine. This solution would keep me from having to start a goroutine myself. Sample from my repo:
[code]

2. There might be some events at some point in t

[2017-11-05 09:55] asticode commented on #49
**Regarding your 2nd post**

the dispatcher was made to execute listeners sequentially, that's why I don't think this is a good idea to execute the listeners in a go routine.

The problem you're facing has to do with one of your listener blocking more than anything which is not a good thing to have. Do you know why your listener is blocking? Executing it in a go routine just hides the problem.

On

[2017-11-05 10:08] asticode commented on #49
**Regarding your 4th post**

I do agree that there's a problem when an event is dispatched into a listener since as of now events are sent into a unique channel and the whole process is therefore blocked.

However the current solution was actually made to make sure all functions have finished BEFORE the main functions continues (check out the [synchronousEvent](https://github.com/asticode/go-astil

[2017-11-05 10:20] #50 closed

[2017-11-05 10:44] tehsphinx commented on #49
That is currently not the case. The main functions continue to execute as soon as the dispatcher STARTS to execute the listeners. If you want the main function to wait for the listeners to finish we need to pass a channel to the goroutine executing the listeners and pass a value back when it is done.

Current Code (not waiting for functions to finish)
[code]

Conceptual solution that actually wait

[2017-11-05 11:14] tehsphinx opened #51 "main.js missing on windows 386"
When executing asticon demo on windows 386 the main.js cannot be found. When checking the `...\vendor\astilectron` folder it is empty.

commands executed in demo folder:
[code]
Note: same when executing the generated exe file.

Any ideas?

[2017-11-05 12:02] asticode commented on #51
Can you paste the logs when executing `astilectron-bundler -v`?

[2017-11-05 13:13] tehsphinx commented on #49
There is a disadvantage of my latest suggestion with the go func around the listeners loop:
There cannot be 2 listeners each triggering an event. It will block again.

[2017-11-05 17:02] tehsphinx commented on #51
[code]

or is there anything I might have to update?

[2017-11-05 17:13] asticode commented on #51
Can you try running `astilectron-bundler cc` and then retry?

[2017-11-05 19:03] tehsphinx commented on #51
same issue. Here the new output:

[code]

[2017-11-05 19:30] tehsphinx commented on #49
https://github.com/asticode/go-astilectron/pull/52

[2017-11-06 07:21] asticode commented on #51
haaaa, yes it is. The problem is that the package `go-astilectron` is up to date (pointing to `v0.12.0` of astilectron) but the bundler has been built for `v0.10.0`. Here's what you need to do:

- `go get -u` the bundler
- `cd /path/to/bundler && make`

Does this fix your issue?

[2017-11-06 08:27] tehsphinx commented on #51
that seems to have worked. Thanks a lot!

[2017-11-06 08:27] #51 closed

[2017-11-06 08:33] tehsphinx opened #54 "syslog does not exist on all build environments"
When automating the build in my gitlab ci container (based on golang 1.8 container: https://hub.docker.com/r/tehsphinx/gitlab-ci-xgo/) I got this error.

The `asticode/go-astilog` panics if syslog cannot be used. Can we have a fallback here? Instead of panicking just use stdout instead?

[code]

[2017-11-06 16:58] #54 closed

[2017-11-08 18:57] asticode opened #55 "Find a better communication interface between GO and JS"
Moving [this issue](https://github.com/asticode/go-astilectron-demo/issues/4) into this repo.

[2017-11-09 18:17] asticode opened #56 "Clear Electron's HTTP cache"
Moving [this issue](https://github.com/asticode/astilectron/issues/2) to this repo

[2017-11-15 11:15] HeavyHorst opened #57 "old electron version"
Version 1.6.5 of Electron is quite old. Could it be upgraded to the latest version or is it not compatible with astilectron-go?

[2017-11-15 12:45] asticode commented on #57
@HeavyHorst to my knowledge there's no compatibility issue with go-astilectron. I've updated the electron version to v1.8.1.

If you're using the bundler you will have to `make` it again

[2017-11-15 12:45] #57 closed

[2017-11-15 12:46] HeavyHorst commented on #57
Great, thanks!

2017-11-15 13:45 GMT+01:00 Quentin Renard <notifications@github.com>:

--
Mit freundlichen Grüßen

Rene Kaufmann

[2017-11-16 05:33] JennyZmx opened #58 "Command not found"
I tried the demo and downloaded packages as required by step 1 and step2. However, when I run step 3 "$ astilectron-bundler -v", I got an error saying that "bundler: command not found". I'm really new to programming and have no idea why this happened. Do I need to install anything other than your packages?

[2017-11-16 08:01] asticode commented on #58
@JennyZmx 3 things:

- on which OS are you working?
- can you paste the result of `cd $GOPATH/bin`
- are you sure you didn't forget the `/...` at the end of the command of `step 2`?

Cheers

[2017-11-16 16:45] JennyZmx commented on #58
Thank you for the quick reply!

I'm working on macOS High Sierra, version 10.13.1. I'm sure I didn't forget /...of step 2 as I downloaded it again just now and it still won't work. The following is what I got after `cd $GOPATH/bin`.
`Mengxins-MBP:go-astilectron-demo zhangmengxin$ cd $GOPATH/bin`
`Mengxins-MBP:bin zhangmengxin$ cd $GOPATH/bin`
`Mengxins-MBP:bin zhangmengxin$ `

[2017-11-16 18:52] asticode commented on #58
@JennyZmx try those 2 commands and let me know how it goes:

- `cd $GOPATH/src/github.com/asticode/go-astilectron-bundler`
- `make`

[2017-11-16 18:56] JennyZmx commented on #58
That's how it looks:
`Mengxins-MBP:~ zhangmengxin$ cd $GOPATH/src/github.com/asticode/go-astilectron-bundler`
`Mengxins-MBP:go-astilectron-bundler zhangmengxin$ make`
`go install ./astilectron-bundler`
`Mengxins-MBP:go-astilectron-bundler zhangmengxin$ `

[2017-11-16 19:00] asticode commented on #58
and can you try again `astilectron-bundler -v` in the demo folder?

[2017-11-16 19:01] JennyZmx commented on #58
Still, `-bash: astilectron-bundler: command not found`

[2017-11-16 19:13] JennyZmx commented on #58
I looked at the post https://github.com/codegangsta/gin/issues/114 @kylerdanielster. So I tried
`~/go/bin/astilectron-bundler -v` and it worked! But I still have no idea why...

[2017-11-16 19:16] asticode commented on #58
ha got it, this is because you need to add $GOPATH/bin to your $PATH variable :)

After that, you'll be able to use `astilectron-bundler -v` right away with specifying the absolute path

[2017-11-16 19:19] JennyZmx commented on #58
That's a really interesting lesson! Thank you for your help!

[2017-11-16 19:22] #58 closed

[2017-11-17 23:01] ericdgit opened #59 "Problems installing"
When I run `go get -u github.com/asticode/go-astilectron`, I get an error:

`package github.com/mattn/go-colorable: directory "c:\\[MyPath]\\GoLang\\src\\github.com\\mattn\\go-colorable" is not using a known version control system`

Using windows.

[2017-11-18 11:34] asticode commented on #59
@ericdgit can you remove "c:\\[MyPath]\\GoLang\\src\\github.com\\mattn\\go-colorable" and try again?

[2017-11-19 17:21] ericdgit commented on #59
Hmm... Now it says the following:

C:\>go get -u github.com/asticode/go-astilectron
# cd C:\\[MyPath]\GoLang\src\github.com\asticode\go-astitools; git pull --ff-only
From https://github.com/asticode/go-astitools
 + 1b26a93...8f6534c master     -> origin/master  (forced update)
fatal: Not possible to fast-forward, aborting.
package github.com/asticode/go-astitools/context: exit status 128

[2017-11-19 20:44] asticode commented on #59
Hmmm this is weird, can you try again now ?

[2017-11-20 08:37] ericdgit commented on #59
Repeated the command and got the same response at first, but then I emptied the directory `\asticode\` and then it seemed to work! Thanks!!

[2017-11-20 08:53] asticode commented on #59
you're welcome :)

[2017-11-20 08:53] #59 closed

[2017-11-20 20:11] uepoch opened #60 "Add screenshot with code exemples"
Everything is in the title, all of this looks nice but it would be better for advanced feature such as Trays and Menus,

otherwise, another great project 👍

[2017-11-21 07:39] asticode commented on #60
@uepoch sounds like a good idea! for now you have 2 options to see examples:

- check out the README that contains small code samples
- check out the [demo](https://github.com/asticode/go-astilectron-demo) that shows how to use the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap) and the [bundler](https://github.com/asticode/go-astilectron-bundler)

Cheers
bite

[2017-11-25 08:50] #46 closed

[2017-11-25 09:51] asticode commented on #56
@HeavyHorst I've added a `Session` attribute to the `Window` object. You can then call `w.Session.ClearCache()` to clear the window's HTTP cache. The readme has also been updated.

Does this fix your issue?

[2017-11-25 12:07] HeavyHorst commented on #56
Great, thanks!

Thats exactly what i needed.

Quentin Renard <notifications@github.com> schrieb am Sa., 25. Nov. 2017,
10:51:

[2017-11-25 12:25] #56 closed

[2017-11-26 05:38] JennyZmx opened #61 "Question about several window"
This is the very first time for me to make a GUI so these questions may be really basic:
1. Is my understanding correct: astilectron is a app (which refers to the GUI I made) and it may contain several windows?
2. What is the difference between a window and a display?
3. Does this binding allow multiple windows on at the same time?
4. If it allows and I have multiple windows on, is it okey if I se

[2017-11-26 05:55] JennyZmx commented on #61
One more question: does this binding allow writing or reading local files? I'm making a simple game app and want to record the highest scores of the player.

[2017-11-26 08:32] asticode commented on #61
1. `astilectron` is not really an app. `astilectron` is a library that will allow your Golang app to download electron and communicate with it. If you use the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap) and the [bundler](https://github.com/asticode/go-astilectron-bundler) you'll be able to bundle your Golang app so that it looks like a normal Mac app / Windows exe / Linux bin

[2017-11-26 19:08] JennyZmx commented on #61
Yes. Thanks!

[2017-11-27 12:58] #61 closed

[2017-11-27 13:26] #49 closed

[2017-11-28 06:26] JennyZmx opened #62 "Listen() function in JavaScript"
`astilectron.listen(function(message) {`
`    // This will send a message back to GO`
`     astilectron.send("I'm good bro")`
 `})`
I don't quite understand this part. Does that mean astilectron.listen() will return a "message"?

BTW, is there any reference (like a GoDoc) so that I can check the detailed information of functions in JavaScript?

[2017-11-28 07:25] JennyZmx commented on #62
BTW, do you mind if I just ask questions in issue tracker since there doesn't seem to have a forum for it?

[2017-11-28 08:54] asticode commented on #62
The issue tracker is perfect to ask your questions, I may consider creating a website for `astilectron` if it reaches 1000 stars, but I don't think I'll add a forum as it's kind of a hassle to set up.

Regarding your first question, there are 2 directions in which you can send a message:

- from GO to JS => use the window's `Send()` GO method that will be caught by the `astilectron.listen()` JS me

[2017-11-28 16:15] JennyZmx commented on #62
Yes thanks!

[2017-11-28 19:00] XWCHAO commented on #62
Hi,

I'm working on a chessboard game project using go it is currently a command-line version game. I plan to build a desktop application for this. Great to find your project here!

I'm going through the demo code, and I don't quite understand the "listen" part either. Is there any real user interaction in the demo, since it just prints out all file names under the root folder? I know I can send a

[2017-11-28 20:07] asticode commented on #62
@XWCHAO there's a small user interaction in the demo (in the menu you can select the type of style you want, and it send an event to the JS so that it updates the style), but let me take you through a whole JS <--> GO communication (in the code below I don't process errors for readibility purposes, however you should :D)

**Sending a message from GO to JS**

GO code:

[code]

JS code:

[code]

As

[2017-11-30 20:27] asticode commented on #62
@XWCHAO @JennyZmx I've refactored the remote messaging process so that it's easier to use. You can check out the doc:

- [send messages from GO to Javascript](https://github.com/asticode/go-astilectron#send-messages-from-go-to-javascript)
- [send messages from Javascript to Go](https://github.com/asticode/go-astilectron#send-messages-from-javascript-to-go)

Let me know if you have any questions or

[2017-11-30 20:29] asticode commented on #62
@XWCHAO @JennyZmx I've also refactored the demo app which include examples on how to communicate between GO and Javascript with the bootstrap. Check it out!

[2017-11-30 20:31] asticode commented on #55
I've refactored the remote messaging system so that we can use callbacks. Check out the doc:

- [send messages from GO to Javascript](https://github.com/asticode/go-astilectron#send-messages-from-go-to-javascript)
- [send messages from Javascript to GO](https://github.com/asticode/go-astilectron#send-messages-from-javascript-to-go)

I'll leave this issue opened for a while to get feedbacks, and I'

[2017-12-01 00:55] JennyZmx commented on #62
That's really helpful and more clear. Thank you so much for the work!

On Thu, Nov 30, 2017 at 3:29 PM, Quentin Renard <notifications@github.com>
wrote:

[2017-12-01 17:30] #62 closed

[2017-12-03 03:23] konding opened #63 "Is go-bindata can prevent decompile?"
So we can protect the js, css source code.
I barely know Golang. Please tell me If you know the answer.

[2017-12-03 09:30] asticode commented on #63
@konding decompiling an unstripped Golang binary is pretty straight forward. Decompiling a stripped Golang binary is a little bite more difficult but still pretty easy (astilectron's [bundler](https://github.com/asticode/go-astilectron-bundler) now builds stripped Golang binaries). As go-bindata stores the file's content in clear, it's pretty easy to retrieve the js/css source code as of now.

To

[2017-12-03 11:28] konding commented on #63
yes, i see.
btw, the Golang source code is safe, right?

[2017-12-03 11:34] asticode commented on #63
what do you mean by safe?

[2017-12-03 12:00] konding commented on #63
i mean golang won't be decompiled, like java, c#.

[2017-12-03 12:20] asticode commented on #63
nah people won't be able to decompiled it like java, but they will still be able to low level reverse engineer it (which is much harder to do and usually gives poorer results)

[2017-12-03 13:13] konding commented on #63
now i know better, thank you.

[2017-12-03 14:16] #63 closed

[2017-12-07 16:10] gedw99 opened #64 "Do communication using protobuf"
Am wondering about doing communication using protobuf without the need to use TCP

Gomatcha does it this way.
See the native bridge code and docs.

https://github.com/gomatcha/matcha

Also you can use a native webview instead of electron.
See the Serge webview repo

https://github.com/zserge/webview

Because it's native it will work through the windows 10s store, unlike electron that bundles chrom

[2017-12-07 18:50] asticode commented on #64
@gedw99 those are nice suggestions, I'll keep this issue open until I have time to test things out

cheers

[2017-12-07 20:21] gedw99 commented on #64
Cool.
The way gomatcha does it is really smart. Worth studying.

On Thu, 7 Dec 2017, 19:50 Quentin Renard, <notifications@github.com> wrote:

[2017-12-08 15:55] Fruchtgummi opened #65 "Task manager shows "electron""
Hi

How can I set the Task Manager to display the name and icon of my app? Now there is always "Electron".

[2017-12-09 09:55] asticode commented on #65
@Fruchtgummi for now you can't since the Task Manager is taking the Description + Icon of the electron.exe running in the background.

The solution is to use [rcedit](https://github.com/electron/rcedit) during the bundling in order to edit the File Description as well as the Icon of the electron.exe.

I'll add it to my TODO but if you're up to make a PR in the [bundler](https://github.com/asticode

[2017-12-09 10:50] trippel commented on #65
I would be willing to make up a PR if you could advise me. :)

[2017-12-12 00:40] TableMountain commented on #40
The example at https://github.com/asticode/go-astilectron/tree/master/examples/5.single_binary_distribution/main.go
no longer exists, and is a broken link in the README.md instructions.

[2017-12-12 08:20] asticode commented on #40
@TableMountain you're right, I've corrected the README so that it points to the [demo](https://github.com/asticode/go-astilectron-demo) that shows a nice example on how to use the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap) and the [bundler](https://github.com/asticode/go-astilectron-bundler).

[2017-12-15 13:06] rashwell opened #66 "feature request control stack"
Should we consider a controls stack and interface set.

Example:
Go data bound control stack and interface set (go-asticontrols)

- control interface including child controls array
  - control button
  - control input
  - control tool button bar
  - control status bar
  - control container
  - control vertical flow, horizontal, grid etc.
  - control splitter
  - control data table

etc.

The idea

[2017-12-15 14:40] asticode commented on #66
@rashwell it sounds like a fair idea but not in this repo.

Indeed this repo is about communicating with Electron and shouldn't deal with the way the HTML/JS/CSS is built.

However, an HTML/JS/CSS generator (which is what you're proposing) could be a good idea in another repo. Maybe there are already some projects that achieve that very same feature?

[2017-12-17 02:38] connorlurring opened #67 "Error loading index.html"
I get the error `Not allowed to load local resource` when trying to load the `index.html`.

My file structure is `resources/app` containing my `index.html` and the `static` directory.

I declare the homepage in my boostrapper with `Homepage: "index.html"`

I'd appreciate any help resolving this.

[2017-12-17 08:23] asticode commented on #67
@connorlurring on which OS/ARCH are you working? Can you paste the logs here when you run your app with the `-v` flag?

[2017-12-17 11:53] connorlurring commented on #67
Running macOS High Sierra so it'll be darwin/x86.

The issue that's causing it is my resources file isn't being packaged into the exe.

The important line in the logs is:

`DEBU[0094] Sending to Astilectron: {"name":"window.cmd.create","targetID":"1","sessionId":"2","url":"file:///var/folders/42/4k7bfr3j6dz5__ydtksvbxth0000gn/T/go-build555941086/command-line-arguments/_obj/exe/resources/app/index.

[2017-12-17 18:14] asticode commented on #67
@connorlurring are you using the [bundler](https://github.com/asticode/go-astilectron-bundler) and the [bootstrap](https://github.com/asticode/go-astilectron-bootstrap)? If so can you provide:

- your folders structure
- the content of your `bundler.json`
- the first lines of the log when you run your app with the `-v` flag

[2017-12-17 20:51] connorlurring commented on #67
Bundler:
[code]

Folder structure:
[code]

[code]

[2017-12-18 04:24] connorlurring commented on #67
Ok so I managed to resolve this.

GoLand was saying that Asset and RestoreAssets didn't exist (due to the nature of how the binds are generated). For this reason I removed them hoping that the library would fall back to default (the default folder structure). It appears that it does not and, as such, there was no ability to load the application due to the lack of access to assets.

I propose that

[2017-12-18 08:46] asticode commented on #67
@connorlurring good to know you managed to resolve this :)

Unfortunately, what you're proposing is not possible. Indeed embedding assets in the binary happens at build time. At runtime, if you haven't specified an `Asset` or a `RestoreAssets` function, there's no way GO knows which function to execute to disembed your asset. You have to specify it at build time. There's no such things as `OS bind

[2017-12-18 08:46] #67 closed

[2017-12-23 09:34] asticode commented on #16
Closing this issue and referencing [this one](https://github.com/asticode/go-astisplash/issues/1) instead

[2017-12-23 09:34] #16 closed

[2017-12-28 02:21] wizarddewhite opened #68 "Add keyboard shortcuts"
Hi,

I am trying your go-astilectron-demo project. And willing to add a text box to let users input some content.

When I type in with keyboard, it looks good. If I want to paste some content into the text box, no effects.

The code I changed is in index.html.  I added below codes at the top of body

    <div class="form-group">
      <label>Name</label>
      <input id="uname" class="form-control

[2017-12-28 08:38] asticode commented on #68
@wizarddewhite in Electron, all keyboard shortcuts are disabled by default. You have to add them manually in a `MenuItem` to enable them. There are 2 solutions for that:

- use the `Accelerator` attribute I've just added in the `MenuItem`:

[code]

- use the `Role` attribute of a `MenuItem` to enable mainstream shortcuts such as `Paste`:

[code]

Does that fix your issue?

[2017-12-28 08:39] #66 closed

[2017-12-28 23:24] wizarddewhite commented on #68
Yep, I tried the second solution, and works fine for me.

Thanks!

[2017-12-29 07:56] asticode commented on #68
Cheers

[2017-12-29 07:56] #68 closed

[2017-12-30 22:52] jpmarr opened #69 "Enable plugins"
Is it possible to supply command line args to Electron when using astilectron? I need to enable the Widevine CDM plugin for the Spotify web player to work.

https://github.com/electron/electron/blob/master/docs/tutorial/using-widevine-cdm-plugin.md

The above requires supplying path info for the plugin binaries via electron command line args.

[2017-12-31 08:04] asticode commented on #69
@jpmarr I've just added an `ElectronSwitches` attribute to the go-astilectron's `Options` struct. You can achieve what you're looking for by setting it like this:

[code]

And you can already set the `Plugins` attribute of the `BrowserOptions` to `true`.

Don't forget to `make` the bundler before testing if you're using it to bundle your astilectron app.

Does that fix your issue?

[2017-12-31 10:42] jpmarr commented on #69
It does indeed. Many thanks for your help.

[2017-12-31 10:42] #69 closed

[2018-01-01 11:23] gedw99 commented on #66
@rashwell  maybe you mean the underlying plumbing for the API, and not the actual GUI aspects ?

Then if the plumbing is there in the main package, anyone can add a GUI on top of it.
This woudl then make the package much easier to use and extend i think.

[2018-01-13 15:40] liasica commented on #65
You can change electron.exe file attribute with other program :)

[2018-01-16 13:10] Jungmu opened #71 "how to control z index in modaler?"
![image](https://user-images.githubusercontent.com/10569683/34990582-fc248a20-fb09-11e7-9588-5310a863d560.png)
how to fix it?

[2018-01-16 18:51] asticode commented on #71
@Jungmu FYI the modaler is can be found in [this repo](https://github.com/asticode/js-toolbox). I've updated it with a `z-index` to `1`. Therefore 2 solutions for you:

- copy/paste [this content](https://github.com/asticode/js-toolbox/tree/master/astimodaler) in `go-astilectron-demo/resources/app/static/lib/astimodaler/`
- update manually the `.astimodaler` class in `go-astilectron-demo/resources

[2018-01-18 08:21] asticode commented on #71
@Jungmu does it work?

[2018-01-18 08:55] Jungmu commented on #71
sorry...
I was too busy yesterday so, i'm not try yet...
I'll try it tonight and let you know.

[2018-01-18 12:02] Jungmu commented on #71
oh! it work!
![image](https://user-images.githubusercontent.com/10569683/35097235-a2842554-fc92-11e7-974a-54607a90b038.png)

but as notifier has same issues
you need fix that too.

![image](https://user-images.githubusercontent.com/10569683/35097257-b76476d6-fc92-11e7-9809-86951d9053ac.png)
like this

Thank you for your consideration

[2018-01-18 13:24] asticode commented on #71
Thanks for the tip, will do

Cheers

[2018-01-18 13:24] #71 closed

[2018-01-26 10:39] connorlurring commented on #55
Does this still require you to make a MessageHandler, or should you just be able to register a listener in this fashion?

[2018-01-26 10:48] asticode commented on #55
@connorlurring it depends whether you're using the bootstrap or not. If you're using the bootstrap you need to declare a `MessageHandler`. If you're not you need to use the JS and GO methods I've linked to in my previous post.

Does that make sense?

[2018-01-30 17:48] peternoyes opened #72 "Isomorphic Go"
I would be interested in writing the front end code in Go as well and transpiling it to JavaScript using Gopherjs. I suppose I could do it now by first running gopherjs in the resources folder before running the bundler but it would be nice if it were integrated into the process.

Also, forgive me but I am really new to this. I am wondering where you see the javascript console messages, is there a

[2018-01-30 18:33] asticode commented on #72
I'll think about a clean way to integrate this into the process event though I doubt there's one. But I'll try.

Regarding the console messages, you have to put the `DevTools` attribute of the `WindowOptions.WebPreferences` struct to true and when the window will be created, the dev tools will appear as well.

[2018-01-30 20:18] Noofbiz commented on #72
Gopherjs has a neat front end in go library https://github.com/gopherjs/vecty that could be pretty cool for something like that, not sure if it could work with electron though

[2018-01-30 20:28] peternoyes commented on #72
Yup! I would definitely be using Vecty if we could get this to work.

[2018-02-04 14:42] githubfanster opened #73 "astilectron-bundler -v does not use the app_name in bundler.json?"
Hi! Sorry to trouble you, but I have a simple question.

After successfully getting the Astilectron demo.exe created by following the instructions in https://github.com/asticode/go-astilectron-demo , i decided to recreate the demo by recreating the
directory structure described in  https://hackernoon.com/how-to-add-a-gui-to-your-golang-app-in-5-easy-steps-c25c99d4d8e0 under a new project directory

[2018-02-04 14:49] githubfanster commented on #73
Ooops!! I made a silly mistake. I didn't save my new bundler.json file. After I did, the new AppName was picked up.  :-D

[2018-02-04 14:49] #73 closed

[2018-02-05 05:16] alanbaumgartner opened #74 "JavaScript error"
[code]

Using the code above from the quick start, I get this error.

![alt text](https://i.imgur.com/LMoap41.png "Logo Title Text 1")

[2018-02-05 08:20] asticode commented on #74
@alanbaumgartner this means that the TCP connection has been closed on GO's side which means that GO has stopped which usually means that GO has panicked.

Could you run the GO code with the `-v` flag and paste the GO logs when this happens?

[2018-02-05 08:42] alanbaumgartner commented on #74
@asticode are you sure you mean ```-v```? Nothing happens when I run it with that flag. I am on 64 bit windows also.

[2018-02-05 08:46] asticode commented on #74
@alanbaumgartner should be. Could you paste your code here then so that I try it on my end?

[2018-02-05 08:50] alanbaumgartner commented on #74
[code]

This is all I have, when running it in GoLand with the flags ```-i``` and ```-v``` this is the only output.
[code]

[2018-02-05 08:55] asticode commented on #74
could you add `flag.Parse()` on top of the `main` function?

[2018-02-05 09:05] alanbaumgartner commented on #74
I may have no idea what im doing but that didn't change anything.

[2018-02-05 09:12] asticode commented on #74
Oops my bad, could you add `astilog.FlagInit()` just after `flag.Parse()` too?

[2018-02-05 09:19] alanbaumgartner commented on #74
[code]
Running this with ```go run -v test.go``` and the only thing in terminal is ```command-line-arguments```

[2018-02-05 09:22] asticode commented on #74
@alanbaumgartner 2 remarks:

- you should execute the `a.Close()` in a `defer` just before `a.Start()`
- you forgot to add `a.Wait()` at the very end of the `main` function. This is the blocking pattern

[2018-02-05 09:24] alanbaumgartner commented on #74
@asticode Thanks, I had close defered but figured I'd move it to see if that caused it.

```a.Wait()``` solved it for me, thanks!

[2018-02-05 09:25] asticode commented on #74
Cheers

[2018-02-05 09:25] #74 closed

[2018-02-07 12:12] githubfanster opened #75 "fyi. reddit posting re: go-bindata 404 Not Found / removed from github?"
https://www.reddit.com/r/golang/comments/7vv9zz/popular_lib_gobindata_removed_from_github_or_why/

doesnt the astilectron-bundler project have a dependency on that package?

[2018-02-07 13:08] asticode commented on #75
@githubfanster yes it does, nice catch

[2018-02-07 13:22] asticode commented on #75
Hard forked the repo myself and updated the dependency.

Cheers.

[2018-02-07 13:22] #75 closed

[2018-02-08 01:03] Noofbiz commented on #75
Actually that repo was not maintained or updated for years before this happened. Ann up to date and actively maintained fork of the repo is here https://github.com/shuLhan/go-bindata

[2018-02-22 07:50] txthinking opened #76 "Add Dock object"
Thanks for your great project.

I want to hide in taskbar now, also means:
After execute window.Hide() when close window, let it don't show when switch apps with CMD+TAB.
When click tray menu to reopen windows by window.Show().

Related: https://github.com/electron/electron/issues/422

[2018-02-22 12:41] txthinking opened #77 "tray.setImage() API support"
Update tray icon after init.

API https://github.com/electron/electron/blob/master/docs/api/tray.md#traysetimageimage

Thanks

[2018-02-22 13:12] txthinking opened #78 "Give possibility to disembed resources and vendor dirs in other location than base dir"
I know `resources` is created by bootstrap + bundler #42.
It does not matter on MacOS, but on Windows it will let user feel strange. (I don't try on Linux)
Is it possible:

* build in binary use go-bindata (may use more memory, but a option)
* put it in the User Home Directory and make it a hidden file

Thank you.

[2018-02-22 15:02] Noofbiz commented on #78
On windows I had the msi put the folder in App Data folder. I used wix as this was before the bundler, but it worked okay for me.

[2018-02-23 10:02] asticode commented on #77
@txthinking I won't have a lot of time to tackle that issue in the coming months but I'd be happy to review a PR. If you're interested, I can point you in the right directions :)

[2018-02-23 10:02] asticode commented on #76
@txthinking I won't have a lot of time to tackle that issue in the coming months but I'd be happy to review a PR. If you're interested, I can point you in the right directions :)

[2018-02-24 02:36] MiyamuraMiyako opened #79 "Can direct use local electron binary?"
Because I use it in offline environment.

[2018-02-24 02:52] MiyamuraMiyako commented on #79
And can I choose the electron version myself?

[2018-02-24 09:16] asticode commented on #79
@MiyamuraMiyako you can't choose the electron version yourself but you can use the local electron binary.

By the way if your goal is to use the local electron binary directly without using GO, maybe this project is not the best tool for your project :)

[2018-02-24 09:20] MiyamuraMiyako commented on #79
@asticode Thank you for reply. I used local electron now. Problem solved.

[2018-02-24 09:20] #79 closed

[2018-02-26 15:14] MiyamuraMiyako opened #80 "App crashes in Ubuntu 17.10"
[code]

[2018-02-27 00:51] MiyamuraMiyako commented on #80
May be It's Ubuntu17.10's ploblem, I will try solve it.

[2018-02-27 09:33] asticode commented on #80
@MiyamuraMiyako `canceller.cancelled` means the context has been cancelled at some point. There are several ways a context can be cancelled. Did you paste all the logs you received?

[2018-02-27 17:12] igor-rubis opened #81 "Selenium webdriver automation issue"
Hello,

Could you please take a look at my issue? I'm trying to automate go-astilectron app testing and I'm facing an issue on the app start. The chrome driver service can't start it properly.

I tryed two ways:

1. With spectron framework (https://github.com/electron/spectron)
I used the example from the README and it seems like it can't handle a promise returning from app.start()
In this case th

[2018-02-27 18:16] asticode commented on #81
@igor-rubis you don't mention any GO in your comment, is that because you don't use any? if so I'm not sure this is the perfect project for you since this project is full GO

[2018-02-27 20:28] igor-rubis commented on #81
Thanks for quick reply.
Well, yes, I don't directly work with the Go code. I need to automate functional testing of the go-astilectron application. Since the oiriginal electron app runs in chromium, its functional testing can be automated with Selenium webdriver and I managed to do it with the original electron app. I've just started the research of how to do it, since my team decided to use go-as

[2018-02-28 01:13] MiyamuraMiyako commented on #80
@asticode yes,That's all info output from console.

It's ubuntu17.10's xhost problem. When I use ubuntu16.04, everything is ok.

[2018-02-28 02:20] deranjer opened #82 "View .js Errors in App"
Is there a way to view the javascript console in the application while it is running?

[2018-03-01 08:26] asticode commented on #82
@deranjer sure, you have to use the [DevTools](https://github.com/asticode/go-astilectron/blob/master/window.go#L131) attribute, or, if you're using the bootstrap, you can simply use the [Debug](https://github.com/asticode/go-astilectron-bootstrap/blob/master/options.go#L11) attribute.

Does that answer your question?

[2018-03-01 08:27] asticode commented on #80
@MiyamuraMiyako unfortunately I don't have a 17.10 ubuntu OS to test on, did you manage to make work ultimately?

[2018-03-01 08:30] MiyamuraMiyako commented on #80
@asticode Due to the time, I can not solve the problem temporarily. I will take the time to deal with the problem in the future.

[2018-03-01 08:38] asticode commented on #81
@igor-rubis I may not be understanding fully what you're saying, therefore if I misunderstood you, please correct me.

What I understand is that you want to automate functional testing of the go-astilectron application without actually running the GO code. **As far as I'm concerned, this may not work**, since the Electron app is only a proxy app that relies on the GO code to provide valuable infor

[2018-03-01 08:41] asticode commented on #80
@MiyamuraMiyako sure, let me know if you manage to solve this at some point, I'm really interested in a solution for this.

[2018-03-01 11:00] igor-rubis commented on #81
Not exactly. I was saying that I'm not the one writes the go-astilectron application. But I'm going to test already built app. For the investigation purpose I compiled your demo app (https://github.com/asticode/go-astilectron-demo) and tryed to start and test it from my code using Selenium Webdriver written in Java and JS. But for some reason the Chrome driver service can't start a binary compiled

[2018-03-01 13:30] asticode commented on #81
@igor-rubis the way it works is pretty straight-forward: when the GO code is executed, it spawns a TCP server then it executes the astilectron electron app which connects to the server. Then whenever the GO code requests something from Electron, it sends the request through the TCP server, and whenever Electron sends something to the GO code it sends it throught the TCP server.

Again, this projec

[2018-03-01 13:37] Noofbiz commented on #81
I would actually try RemoteWebDriver or something higher up, like EventFiringWebDriver than ChromeDriver, because Chromium isn't exactly Chrome and could cause issues.

[2018-03-03 06:46] plandem opened #83 "What do you think about this one?"
https://github.com/zserge/webview
https://github.com/zserge/webview/tree/master/examples/todo-go

[2018-03-03 20:25] #82 closed

[2018-03-04 09:30] asticode commented on #83
@plandem I think this is a pretty neat project but my guess is that it's not a sufficient project for people like me who want to be able to add menus, tray icons, handle screens, etc. But for people who want a small framework to implement a UI using JS and HTML this is great.

[2018-03-06 16:18] #83 closed

[2018-03-07 09:21] 107295472 opened #84 "How to release the program?"

[2018-03-07 10:22] asticode commented on #84
Closing this issue to keep [this one](https://github.com/asticode/go-astilectron-demo/issues/25)

[2018-03-07 10:22] #84 closed

[2018-03-14 01:21] MiyamuraMiyako commented on #80
@asticode In ubuntu17 and later, need to execute ```xhost +```(not need root privileges) command to allow other users use gui.

[2018-03-14 08:33] asticode commented on #80
@MiyamuraMiyako that's good to know. Could you give us the full command line that you execute so that it helps other that may have the problem?

[2018-03-14 10:13] MiyamuraMiyako commented on #80
@asticode Yes.

If I use user A login, then I need exec ```xhost +``` in user A's shell. Then switch to root or other users, It can run electron normally.

[2018-03-14 14:00] asticode commented on #80
@MiyamuraMiyako thanks for reporting the solution back here.

Closing this issue now.

[2018-03-14 14:00] #80 closed

[2018-03-16 15:13] igor-rubis commented on #81
Thanks for answers, I found the original issue's cause. Selenium could not start the app because it passes some flags to the command like the following:
[code]
The application didn't start since its Go part doesn't know such flags. It returns a message:
[code]
We've dealt with this issue already.

But currently I'm encountering the new one - WebDriverException: chrome not reachable
For some reason

[2018-03-19 12:51] #81 closed

[2018-03-19 13:29] asticode commented on #81
@igor-rubis did you manage to fix your last issue?

[2018-03-19 13:41] igor-rubis commented on #81
@asticode Not yet. Seems like the point is that the app binary triggers the go part of the app and then the go part starts astilectron part with the browser and because of this Selenium can't interact with browser. I raised an issue in the chrome driver bug tracker https://bugs.chromium.org/p/chromedriver/issues/detail?id=2341

[2018-03-19 13:43] igor-rubis commented on #81
@Noofbiz unfortunately such approach doesn't work either

[2018-03-25 04:30] rcholic opened #85 "How to do logging during development?"
is there a way to do logging and see the logging messages?

[2018-03-25 06:09] rcholic opened #86 "Cannot send message to Go in the callback of astilectron.showOpenDialog()"
I have been trying to add an item named `Open Folder(s)` under the File menu in my app, but I've noticed that a message cannot be sent in the callback of `astilectron.showOpenDialog()`.

For example, in the go-electron-demo app, I have this in the index.listen() function:

[code]

Nothing happens after I close the openned dialog after selecting a folder. Anyone has similar experience? might it bec

[2018-03-25 10:27] asticode commented on #86
@rcholic it seems you're not using the `showOpenDialog` properly. Its signature is `showOpenDialog: function(options, callback)` but in your case you added the callback in the options directly instead of putting it in the 2nd argument.

This should work:

[code]

Does that fix your issue?

[2018-03-25 10:30] asticode commented on #85
@rcholic in GO you can use `astilog.Debug` or any other methods `astilog` is providing, and in javascript you can use the good old `console.log` method. To see the messages you'll have to enable the Dev Tools in your window (https://github.com/asticode/go-astilectron/blob/master/window.go#L131 or https://github.com/asticode/go-astilectron/blob/master/window.go#L330).

Also you can use the GO `Log`

[2018-03-25 15:31] rcholic commented on #86
@asticode Thank you very much for the fast help. It fixed my problem 👍

[2018-03-25 15:31] #86 closed

[2018-03-25 15:59] #85 closed

[2018-03-26 08:48] asticode opened #89 "How to use OAuth"
Here's how to use OAuth with astilectron

[2018-03-27 08:13] ZEROKISEKI commented on #89
I writed a github oauth demo based on `go-astilectron` and `vue`, here is the [project](https://github.com/ZEROKISEKI/go-astilectron-oauth-demo).

Here is a way to use github oauth:

Firstly, you can sendMessage from Javascript to Go, to tell Go to create the oauth window:

[code]

Then, the main window `w` can listen the message , handling that make astilectron instance `a` create an oauth window

[2018-03-27 15:16] asticode commented on #89
Cheers @ZEROKISEKI

[2018-03-27 15:16] #89 closed

[2018-03-28 18:46] vidmed opened #90 "Add ability to test app using selenium"
In the current implementation of go-astilectron there is no way to test application via selenium.
What is happening now:
- TCP server starts and wait for connections.
- You start electron command which starts astilectron. Then astilectron connects to the TCP server.
The idea is add some test flag and when it is set the logic will be:
- TCP server starts and wait for connections.
-  We don't start

[2018-03-29 07:31] asticode commented on #81
@igor-rubis [this issue](https://github.com/asticode/go-astilectron/issues/90) may be of interest to you :)

[2018-03-29 07:43] asticode commented on #90
@vidmed I'm not familiar with Selenium therefore I can't say what's the best approach to test an astilectron app with it. However if what you're saying is true, this is totally feasible, the only downside being you won't be able to captur stdout/stderr in GO anymore but I guess you'll be able to capture both of them in Selenium so this should be fine.

My first instinct would be to do the followin

[2018-03-29 09:24] vidmed commented on #90
Yeah, that is really cool.
Also I would like this interval
`go a.watchNoAccept(30*time.Second, chanAccepted)`
in l`istenTCP` method to be configurable by user. Sometimes we have to wait more than 30 seconds for tcp connections. and hardcoding this inteval is not very good for me.

[2018-03-29 12:24] asticode commented on #90
sure, you can add it in the [Options](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L66). Don't forget to add a default value in the `New` function though. I look forward to reviewing your PR.

[2018-03-29 15:11] vidmed commented on #90
@asticode view my PR please
https://github.com/asticode/go-astilectron/pull/91

[2018-03-29 18:37] asticode commented on #81
Really nice, I didn't know that :)

Cheers for tackling this issue :)

[2018-03-31 09:13] #90 closed

[2018-03-31 10:06] asticode commented on #18
I've finally had some time to work on this issue and unfortunately here's what I've discovered (I'm on GO 1.10.1 and Windows 10):

- the glitch only happens when first using the binary just after having built for the first time
- the next times it's working fine
- in my case this is the *antivirus* that is spawning the first process and then killing it. Maybe sandboxing it to check whether it's a

[2018-03-31 10:10] #55 closed

[2018-03-31 10:10] #60 closed

[2018-04-01 08:52] asticode commented on #78
Hey guys, I've pushed a change doing the following:

- the `Paths` object now has a `DataDirectory()` method
- it returns
  - `%APPDATA%/<your app name>` if the `APPDATA` environment variable exists (windows)
  - the working directory for other cases
- the `vendor` directory is now installed in this `data directory`

This means the `vendor` directory is now in the APPDATA folder and "hidden" for t

[2018-04-01 08:52] #78 closed

[2018-04-01 09:25] asticode commented on #77
@txthinking I've added the Tray's [SetImage](https://github.com/asticode/go-astilectron/blob/master/tray.go#L74) method.

I'll close this issue for now, do reopen it if it doesn't fix your issue.

Cheers

[2018-04-01 09:25] #77 closed

[2018-04-01 09:31] asticode commented on #76
Referencing this for future use: https://github.com/electron/electron/blob/v1.8.1/docs/api/app.md#appdockbouncetype-macos

[2018-04-02 20:29] OneOfOne opened #92 "notification api support"
Any plans for that?

- https://electronjs.org/docs/api/notification

[2018-04-03 07:25] asticode commented on #92
@OneOfOne sure, I may have some time this week. Just leaving the doc for the electron version we're using here: https://github.com/electron/electron/blob/v1.8.1/docs/api/notification.md

[2018-04-03 12:00] AlinaSt opened #93 "Can't run app"
Hello! This happens when I'm trying to run app
{"level":"fatal","msg":"running bootstrap failed: starting astilectron failed: provisioning failed: provisioning electron failed: unzipping C:\\Users\\xxx\\AppData\\Roaming\\vendor\\electron-windows-amd64-v1.8.1.zip into C:\\Users\\xxx\\AppData\\Roaming\\vendor\\electron-windows-amd64 failed: unzipping C:\\Users\\xxx\\AppData\\Roaming\\vendor\\electro

[2018-04-03 12:16] asticode commented on #93
@AlinaSt

- are you trying to run the [demo](https://github.com/asticode/go-astilectron-demo)?
- could you make sure you execute `go get -u ./...` on your project to make sure all the projects are up to date?
- could you paste the logs when you execute the bundler with the `-v` flag ? (`astilectron-bundler -v`)
- could you paste the logs when you execute the app with the `-v` flag ?

[2018-04-03 12:50] AlinaSt commented on #93
Now, I am trying to run demo. This happens when I'm executing the bundler with the -v flag (astilectron-bundler -v)
$ astilectron-bundler -v
{"level":"debug","msg":"Resetting","time":"2018-04-03T16:45:17+04:00"}
{"level":"debug","msg":"Creating C:\\Users\\xxx\\AppData\\Local\\Temp\\asti

[2018-04-03 12:56] AlinaSt commented on #93
Now, I am trying to run my app. This happens when I'm executing the bundler with the -v flag (astilectron-bundler -v)

$ astilectron-bundler -v
{"level":"debug","msg":"Resetting","time":"2018-04-03T16:53:55+04:00"}
{"level":"debug","msg":"Creating C:\\Users\\xxx\\AppData\\Local\\Temp\\astibundler","time":"2018-04-03T16:53:55+04:00"}
{"level":"debug","msg":"Creating C:\\Users\\xxx\\go\\src\\exchser

[2018-04-03 14:08] asticode commented on #93
which go version are you using?

[2018-04-03 14:26] asticode commented on #93
I've pushed a fix. Could you do the following commands and let me know whether it's working?

- `go get -u github.com/asticode/go-astitools`
- `cd $GOPATH/src/github.com/asticode/go-astilectron-bundler`
- `make`
- `cd /path/to/your/project`
- `astilectron-bundler -v`

Does it work now?

[2018-04-03 14:29] AlinaSt commented on #93
make: command not found

[2018-04-03 14:31] asticode commented on #93
run `go install ./astilectron-bundler` instead

[2018-04-04 05:33] AlinaSt commented on #93
{"level":"debug","msg":"Resetting","time":"2018-04-04T09:27:38+04:00"}
{"level":"debug","msg":"Creating C:\\Users\\xxx\\AppData\\Local\\Temp\\astibundler","time":"2018-04-04T09:27:38+04:00"}
{"level":"debug","msg":"Creating C:\\Users\\xxx\\go\\src\\github.com\\asticode\\go-astilectron-demo\\output","time":"2018-04-04T09:27:38+04:00"}
{"level":"debug","msg":"Bundling for environment windows/amd64",

[2018-04-04 07:38] asticode commented on #93
It seems your $GOPATH is not set in your IDE (I can see `$GOPATH not set` in the error message). Since you can't build the binary properly, the final error is normal.

[2018-04-04 09:02] asticode commented on #76
@txthinking I've just added support to the Dock object. Remember to fetch updates to the dependencies and the bundler, as well as make the bundler so that it references the correct astilectron version.

 You can find the doc [here](https://github.com/asticode/go-astilectron#dock-macosx-only).

I'll close this issue for now, let me know if you're experiencing any problems.

Cheers

[2018-04-04 09:02] #76 closed

[2018-04-04 09:49] txthinking commented on #76
Sorry for checking late, thank you very much.

[2018-04-04 10:57] asticode commented on #76
no worries, let me know if you're experiencing any problems

[2018-04-05 05:58] rcholic opened #94 "Moving window when TitleBarStyle = astilectron.TitleBarStyleHidden"
On the main window,  I set the windowOptions `TitleBarStyle:   astilectron.TitleBarStyleHidden`, because I want to have a titlebar that has embedded Mac-style icons and search field. After doing this, however, the window is no longer draggable and I cannot move it with my mouse.

I could add drag & move events to my UI in JavaScript, but I am not sure how to send the message to Go with the window'

[2018-04-05 06:05] asticode commented on #94
@rcholic have you tried using the [Move](https://github.com/asticode/go-astilectron/blob/master/window.go#L293) method?

[2018-04-05 06:11] rcholic commented on #94
@asticode I did take a look at the `Move` method, but I don't know how I should pass the mouse's new (x, y) coordinate to the `Move` method from my UI in HTML + JS.

[2018-04-05 06:40] rcholic commented on #94
@asticode

Thanks very much for the information. Just a quote in case other people need to do something similar:

[code]
Note that the window is still NOT draggable with the css applied if the developer console is open.

[2018-04-05 06:40] #94 closed

[2018-04-05 06:46] asticode commented on #94
Cheers

[2018-04-06 10:37] john-dev opened #95 "missing event content (tray.getBounds)"
Hey,

any idea why my events are all kind of empty?
This is the event for a windows resize for example and it has the event name and targetId only.
 {window.event.resize 2    <nil>  <nil>  <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil>   <nil> <nil>     <nil>}
Or tray click:
{tray.event.clicked 1    <nil>  <nil>  <nil> <nil> <nil> <nil> <nil> <nil> <nil> <nil>   <nil> <nil>     <nil>}

I need the

[2018-04-06 11:06] john-dev commented on #95
Looks like the event is never dispatched with the bounds object from electron:
$ go run main.go -v true
DEBU[0000] Running app
DEBU[0000] Starting...
DEBU[0000] Provisioning...
DEBU[0000] Astilectron has already been provisioned to version 0.19.0, moving on...
DEBU[0000] Electron has already been provisioned to version 1.8.1, moving on...
DEBU[0000] Listening...
DEBU[0000] Executing...
DEBU[0000]

[2018-04-07 06:47] #93 closed

[2018-04-07 06:57] asticode opened #97 "How to add custom window to tray"

[2018-04-07 08:29] #18 closed

[2018-04-07 08:56] john-dev commented on #97
I love StautsBar apps on macOS since they don't mess around with my dockbar nor the programm switch (cmd+tab)

Version 0.20.0 supports bounds (rectangle) for tray click events.
` 	tray.On(astilectron.EventNameTrayEventClicked, func(e astilectron.Event) (deleteListener bool) {
		if isShow {
			w.Hide()
		} else {
			width := 500 //total window width
			w.Move(*e.Bounds.PositionOptions.X-*width/2+(*

[2018-04-08 07:34] asticode commented on #97
Cheers

[2018-04-08 07:34] #97 closed

[2018-04-10 06:38] lazy007 opened #99 "how to use 'asar'"
how to use 'asar'

[2018-04-10 08:02] asticode commented on #99
@lazy007 I'm really not familiar with `asar` but my guess would be to use a project like [this one](https://github.com/layeh/asar) to create the archive.

[2018-04-17 03:24] di3663 opened #100 "Load local resources(html/js/css) ?"
I got an empty window.

[code]

[2018-04-17 07:42] asticode commented on #100
@di3663 can you enable `astilog` by adding:

[code]

at the top of your `main` function.

Then can you paste the logs when you execute `main.exe -v` ?

[2018-04-17 08:30] di3663 commented on #100
index.html exists
[code]

![1](https://user-images.githubusercontent.com/36250009/38857783-a84120fe-425c-11e8-9fd0-edd1d0ecd3bd.PNG)

[2018-04-17 08:34] elonlee commented on #100
in you user folder.
C:\Users\XXXX\AppData\Roaming\resources

[2018-04-17 08:34] di3663 commented on #100
ps: switch to web server mode, works

[code]

[2018-04-17 08:35] di3663 commented on #100
@elonlee do I need move files into Roaming ?

[2018-04-17 08:38] elonlee commented on #100
@di3663 yes, but may be there is other better way...  i just don't know

[2018-04-17 08:43] di3663 commented on #100
@asticode

main.exe -v

[code]

[2018-04-17 08:48] di3663 commented on #100
file://d:%5CWORKSPACE%5Czzz-go-asticode-test%5Cresources%5Capp%5Cindex.html

'%5C' replace with '/' ?

[2018-04-18 01:15] di3663 commented on #100
@asticode

[code]

[2018-04-18 08:15] asticode commented on #100
@di3663 we misunderstood each other. Could you add this at the top of your `main` function, try again and tell me what it outputs?

[code]

[2018-04-18 09:58] di3663 commented on #100
@asticode

I believe it is what you suggest.

![1](https://user-images.githubusercontent.com/36250009/38924992-f50251c2-4330-11e8-9222-c46797c313f4.PNG)

After use your code, it seems nothing change.

![2](https://user-images.githubusercontent.com/36250009/38925348-ee805ae6-4331-11e8-87a6-36cc7eb3899d.PNG)

[code]

[2018-04-18 10:09] di3663 commented on #100
os: win7 x64 sp1
go: go version go1.10.1 windows/386

[go-asticode-test.zip](https://github.com/asticode/go-astilectron/files/1923458/go-asticode-test.zip)

[2018-04-19 06:31] carsonfarmer opened #101 "Access custom electron events (e.g., login)"
I'd like to be able to access custom electron events such as a login (https://electronjs.org/docs/api/app#event-login) for working with content that requires basic auth. Is it possible to create listeners for arbitrary electron events? Is there a better way to achieve what I'm trying to do (automatically supply credentials for basic auth)?

[2018-04-19 07:47] asticode commented on #101
@carsonfarmer right now there's no method to listen to an arbitrary electron events and receive all information in GO. And  I don't see any easy or clean solution to do that.

Nonetheless, here's what I have in mind:
- use the `WebContents` [login event](https://electronjs.org/docs/api/web-contents#event-login) instead since that way we know the window it's attached to
- in `js`, add a listener on

[2018-04-19 15:04] carsonfarmer commented on #101
I think this might be exactly what I need! I’ll report back here with my progress 👍

[2018-04-19 15:08] asticode commented on #101
@carsonfarmer I think the best would be to integrate it in the library directly and therefore update both [astilectron](https://github.com/asticode/astilectron) and [go-astilectron](https://github.com/asticode/go-astilectron). Would you be up for it? I'd be happy to review a PR.

If not, I may have some time to add it.

[2018-04-19 16:28] carsonfarmer commented on #101
Given that I'm working with the bootstrap, am I right in assuming that adding the following to the head of my `Homepage` should work for subscribing to login on webContents:

[code]

Or do I have to put it in astilectron-ready callback? Apologies for the noob questions, I'm still learning electron and go...

[2018-04-19 19:15] asticode commented on #101
@carsonfarmer no worries about the questions, there are no noob questions :)

Here's what I have in mind:

## In [astilectron](https://github.com/asticode/astilectron)

- add a listener to the `WebContents`'s`login` event when creating a `Window` in [this function](https://github.com/asticode/astilectron/blob/master/main.js#L362)
- this listener will increment some kind of counter, write a `window

[2018-04-19 21:04] calibar opened #102 "'astilectron-bundler' is not recognized as an internal or external command, operable program or batch file."
Hi, I was trying to run the demo, however, I got "'astilectron-bundler' is not recognized as an internal or external command,operable program or batch file." when I was running command "astilectron-bundler -v". I have already checked the Path, $GOPATH path is already in it. I am using win10.

[2018-04-20 07:04] rcholic opened #103 "error when opening the built app on MacOSX: LSOpenURLsWithRole() failed with error -10810 for the file"
I used the go-astilectron demo project (file system exploration) as a template to make some changes, which include a go HTTP webserver. My unit tests are working fine, and the build works okay as well, but when I tried to open the built app from terminal, I got the following errors:

[code]
I wonder how to debug this error?

[2018-04-20 07:12] asticode commented on #103
- I gather you're working on OSX. Which version?
- is this working when you double click on the app icon?
- I've found a fix for a somewhat similar error: `I ran into this, and found that the error went away if I dragged the old version of the app to the trash (via the Finder) before installing the new version. (I don't know if this works for everybody.)`. Could you try it and tell me whether it's

[2018-04-21 05:27] carsonfarmer commented on #101
Wow, thanks @asticode. So we ended up trying a different route in order to avoid touching astilectron internals, however, I _think_ we might be running up against a similar issue? If you think these are related (see below), we might take a stab at your proposed solution in the next week or two?

Some context:
On the go side, we have a local https server serving up images for display in the main ap

[2018-04-21 05:29] carsonfarmer opened #104 "app.commandLine flags?"
Is it possible to apply chromium command line flags when starting up an astilectron app? If not, I'd be interested in enabling this type of feature, but would your thoughts on how best to approach this? In 'vanilla' electron this might look something like:

[code]

Related to recent update on #101 .

[2018-04-21 08:05] asticode commented on #104
@carsonfarmer you can already use electron switches through the [ElectronSwitches](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L75) attribute. In your example you would have to set it to `[]string{"ignore-certificate-errors","true"}`.

Does that fix your issue?

[2018-04-21 08:07] asticode commented on #102
@calibar I think you forgot to `go get` the bundler which should have installed the bundler. Please refer to [this step](https://github.com/asticode/go-astilectron-demo#step-2-install-the-bundler) and more importantly this command: `go get -u github.com/asticode/go-astilectron-bundler/...`.

This should do the trick.

[2018-04-21 13:32] carsonfarmer commented on #104
Yes, I'm sorry for the noise! Very impressive project by the way!

[2018-04-21 13:32] #104 closed

[2018-04-21 13:34] carsonfarmer commented on #101
Oh this would be great @asticode. We're keep to contribute to the project, so a nice example like that would be killer!

[2018-04-21 15:07] calibar commented on #102
I have run the command "go get -u github.com/asticode/go-astilectron-bundler/...", however, it still doesn't work, then I tried @Noofbiz 's method. It works, but I got this back: {"level":"fatal","msg":"opening file C:\\Users\\liumengxuan\\bundler.json failed: open C:\\Users\\liumengxuan\\bundler.json: The system cannot find the file specified.","time":"2018-04-21T09:04:31-06:00"}. Thank you for a

[2018-04-21 16:01] asticode commented on #102
In order to use `astilectron-bundler` without specifying the [input path](https://github.com/asticode/go-astilectron-bundler/blob/master/bundler.go#L48) you need to `cd` in your project directory first. Then you can execute your command and the bundler will execute its steps on the current directory.

Does that fix your issue?

[2018-04-21 16:25] asticode commented on #101
@carsonfarmer I've just added the handling of the `login` event.

You can check out the doc [here](https://github.com/asticode/go-astilectron#basic-auth).

Also:
- check out the commit in [astilectron](https://github.com/asticode/astilectron/commit/34ad957edf4cf05c2b3046df520e98bc5c56f977). If you want to add the handling of another similar event, I've added `registerCallback` and `executeCallback

[2018-04-21 19:34] rcholic commented on #103
@asticode
thanks for your help, but my issue was different than yours, because I was able to do some analysis by logging the errors (from my go code) to a text file. The log is very helpful for me to debug the issue that has something to do with file paths in the built app. Now everything is fine. Thanks again!

[2018-04-21 19:34] #103 closed

[2018-04-22 15:30] calibar commented on #102
Yes, It works right now, I forgot to cd to the folder, hahahah, thank you for all your help.

[2018-04-22 16:06] #102 closed

[2018-04-22 16:06] asticode commented on #102
Cheers

[2018-04-22 22:02] midona-rhel opened #105 "Extremely slow debugging"
go version: 1.10.1
OS: macos 10.13.4

Hi there, while trying to debug with delve I have noticed extremely slow execution time with calls coming through the messagehandler of the bootstrap when a breakpoint is added, talking about minutes between lines. I went and google'd quite a bit and have found nothing describing anything remotely similar to my experience which leads me to believe this _might_

[2018-04-23 01:55] rcholic commented on #103
@asticode
The error as I reported in my first post is only the consequence of errors that happen in my Go code, and I had no clue as to what caused the errors. So I saved the logging messages to a file on my local disk, e.g.

[code]
When the app crashed, I was able to see the error in my logging file, which helped me to locate the source of the errors in my code.

The root cause for the errors are

[2018-04-23 05:01] rcholic opened #106 "MaxListenersExceededWarning occurs when executing astilectron.sendMessage() too quickly"
My app has multiple menu items, each of which triggers `astilectron.sendMessage()` to send messages to the backend/Go code for handling the messages. Some message handling may take longer time than others to process.

When I click between these menu items, before I see the message callback is triggered, I sometimes see errors in the app developer console:

Does that mean the solution will simply b

[2018-04-23 07:10] asticode commented on #103
thanks a lot for sharing this :)

Cheers

[2018-04-23 07:17] asticode commented on #106
@rcholic I've checked the reasons of this error and there's definitely something wrong in **astilectron** that I should fix. In the meantime you can increase the limit but this is not a viable solution.

I'll keep you posted.

[2018-04-23 07:19] asticode commented on #101
@carsonfarmer I'll close the issue for now but feel free to reopen it if you're facing any problem

[2018-04-23 07:19] #101 closed

[2018-04-23 09:44] asticode commented on #106
@rcholic I've pushed some changes to **astilectron**. Can you:

- fetch changes to **go-astilectron**
- run `go install github.com/asticode/go-astilectron-bundler/astilectron-bundler`
- try again and let me know if you're still experiencing issues?

[2018-04-23 18:29] rcholic commented on #106
@asticode

Thanks so much for the fix. I just tried my app with the fix, it looks like the issue is no more reproducible. That is awesome 👍

I'll leave this to you to close :)

[2018-04-23 23:40] midona-rhel commented on #105
After messing around with it for a bit I am sure it happens [at this point](https://github.com/asticode/go-astilectron/blob/master/helper.go#L161), after this it becomes a complete trudge, seems a bit arbitrary, but I might just open this as an issue with the delve developers with a relatively clean project ready if it needs testing.

[2018-04-24 07:08] asticode commented on #106
Cheers

[2018-04-24 07:08] #106 closed

[2018-04-24 07:30] asticode commented on #105
@midona-rhel your best shot is to update the methods like this:
[code]
and
[code]
I've just added 2 lines that log the type of events that are handled.
Then at the top of your `main` function, make sure `astilog` is set up by adding:
[code]
Finally run your command with the `-v` flag to enable debug logs and paste the logs here.
We should be able to see which events is blocking and why.

[2018-04-24 10:01] #100 closed

[2018-04-25 08:55] asticode commented on #65
@Fruchtgummi I've pushed a fix on the `win-task-name` branch that should change the name in the Task Manager. Could you fetch the branch and tell me whether this is working ?

Regarding the icon, there's no way to change it.

Cheers

[2018-05-01 21:39] carsonfarmer opened #107 "bundler unzip version mismatch"
I recently updated to the latest and greatest versions of astilectron, go, bootstrap, and bundler, but now when building, I seem to have a version mismatch between the bundler and running the code:

[code]

That all looks fine, but then...

[code]

Notice that the bundled version `v0.22.0` is not the same as the version being unzipped `v0.20.0`. I've tried the fix [proposed here](https://github.co

[2018-05-01 21:47] carsonfarmer commented on #107
My fix for the moment is simply to decrease the astilectron version specified in `go-astilectron/astilectron.go` ()

[2018-05-02 06:45] asticode commented on #107
@carsonfarmer this is weird. Here are my thoughts:

- when you execute `astilectron-bundler -v`, the astilectron version is the one at the time of building the bundler
- when you execute `go run *.go -v -d`, the astilectron version is the current one in the `astilectron` package
- therefore your `astilectron` package must be out of date

Therefore here is what I suggest:

- make sure the `astilect

[2018-05-02 13:39] pwhelan opened #108 "Get native window id"
Is it possible to get the native window id? As far as I can tell electron has a getNativeWindowHandle on the window object that is able to retrieve the native window handle. How would I go about calling it from go?

[2018-05-02 14:43] asticode commented on #108
@pwhelan for now you can't retrieve the native window id. I could add such a thing, but I don't think having the native window id will help you in your use case. What are you trying to achieve in details?

[2018-05-02 16:31] pwhelan commented on #108
I intend on creating a web browser similar to surf. I already have the most basic parts working but now I am working on getting XEmbed to work so I can embed it into tabbed. From what I can tell I'll pretty much have to rewrite or extend main.js anyways.

[2018-05-03 06:41] asticode commented on #108
@pwhelan in that case I'm not entirely sure `go-astilectron` is the correct project for you. I think you're better off manipulating `electron` directly without the GO overhead

[2018-05-03 07:07] lylib opened #109 "macOS compatibility"
High version macOS generation application, low version macOS incompatible operation.

[2018-05-03 07:41] asticode commented on #109
@lylib I don't understand what you're saying. Is it a question? If so could paste some logs so that I understand what you're saying exactly?

[2018-05-03 08:08] lylib commented on #109
this is a question
![wx20180503-160800](https://user-images.githubusercontent.com/27846062/39565869-2e3e6a7c-4eec-11e8-8b2c-f77cc1555ae6.png)

[2018-05-03 08:54] asticode commented on #109
@lylib unfortunately I don't read this alphabet :( Could you translate in english ?

[2018-05-03 09:04] lylib commented on #109
@asticode
Error message:
This version of the application "XXX" cannot be used with this version of macOS configuration
You are using macOS 10.12.5 You should use the program that requires macOS 10.13 or later

[2018-05-03 12:11] midona-rhel commented on #105
Sorry I have been busy, I think I have nailed down when it happens and as soon as the electron app is launched execution speed is counted in seconds per line of code. Its not a specific event blocking or adding overhead but rather it just seems like it is more or less too much for delve to handle. The electron part still runs fine but golang is just dead, guess I have to rely on prints for the tim

[2018-05-04 08:00] asticode commented on #105
Thing is astilectron basically spawns a TCP server, runs an electron app and communicates with it through the TCP server. Therefore I don't really see a way to optimize the node interaction. I'd still be interested in seeing the logs I've proposed if you have time.

[2018-05-05 08:11] asticode commented on #107
@chaim1986 you need to check that [this constant](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L22) is set to `v0.22.0`. Is that the case?

[2018-05-05 09:47] oldfeel opened #110 "How to use inspectElement?"
[code]

[2018-05-05 13:38] chaim1986 commented on #107
@asticode thanks , yes finally i fix my problem.
Because i use dep as package manager ,  the local dep package version is different form the global one .
great work of your tools , awesome!!

[2018-05-05 14:00] asticode commented on #107
Great!

@carsonfarmer did you manage to fix your problem as well?

[2018-05-05 14:02] asticode commented on #110
@oldfeel seems like you're doing javascript directly, are you sure you need the GO overhead provided by this project? If so, you need to use this [function](https://github.com/asticode/go-astilectron/blob/master/window.go#L357) in order to show dev tools.

But once again, if your use of GO is minor, I'd strongly recommend using Electron directly.

Does that fix your problem ?

[2018-05-05 18:26] oldfeel commented on #110
@asticode Thanks, I want to write a video conferencing client. I need to transfer data between go and js frequently. I feel that this project is more convenient than using electrons directly. However, the inspectElement method is needed to debug the interface. I hope that go-astilectron can provide it. This method does not matter, go-astilectron is good enough.

[2018-05-07 05:03] oldfeel commented on #110
@asticode Yes, Thank you very much.

[2018-05-07 05:03] #110 closed

[2018-05-07 19:55] carsonfarmer commented on #107
Not yet, but since we're also using `dep` to manage packages, I suspect that's going to be the fix we need as well. I'll report back here soon.

[2018-05-08 12:00] xuzhiping7 commented on #109
Hi , i met this question too.

On MacOS, the released application can only running on the higher version MacOS, when running on the lower version of MacOS ,it would alert the error information (like above).

Hope this bug can be fixed as soon as possible .

Thanks.

[2018-05-08 18:19] codemental opened #111 "ERRO[0000] accept tcp 127.0.0.1:37411: use of closed network connection while TCP accepting"
I am getting the following error whenever I try to start a bundled app (ex. go-astivid/output/linux-amd64/Astivid):

[code]

I have tried the **go-astilectron-demo** and **go-astivid**. I have repeated the installation following the instructions carefully and I always get this error.

Any ideas would be helpful.

OS: Ubuntu 18.04 Budgie
GO go1.10 linux/amd64

[2018-05-09 07:17] asticode commented on #111
could you start the app with the `-v` flag and paste logs here? this will enable verbose logging and may give us more information about the problem.

[2018-05-09 07:51] codemental commented on #111
Oh great! With **-v** I was able to find the problem:

`DEBU[0000] Stderr says: ~/.gvm/pkgsets/go1.10/global/src/github.com/asticode/go-astilectron-demo/output/linux-amd64/vendor/electron-linux-amd64/electron: error while loading shared libraries: libgconf-2.so.4: cannot open shared object file: No such file or directory `

The solution was `sudo apt-get install libgconf-2-4`. This was an electron

[2018-05-09 08:28] asticode commented on #111
Cheers

[2018-05-09 08:28] #111 closed

[2018-05-09 08:30] #108 closed

[2018-05-16 20:41] agajdosi commented on #26
Hi @asticode, I think I am facing this issue on Windows. Tried several image formats, but on Windows it still causes problems, Linux is fine.

![image](https://user-images.githubusercontent.com/22000268/40142913-49e49b52-595a-11e8-94ae-84747cbddd63.png)

[2018-05-17 17:33] asticode commented on #26
@agajdosi I will try new things such as https://github.com/electron/electron/issues/7657 in the coming days. I'll keep you posted

[2018-05-24 13:39] asticode commented on #109
@xuzhiping7 is the behavior the same whether the app is built on the lower or the higher version of MacOS? Are you experiencing the issue with the same versions as @lylib (10.12.5 | 10.13) ?

[2018-05-24 13:42] asticode commented on #107
@carsonfarmer any update on your testing?

[2018-05-24 13:43] asticode commented on #105
@midona-rhel closing this issue. I'm still interested in the logs I've proposed if you have time though.

[2018-05-24 13:43] #105 closed

[2018-05-24 16:04] carsonfarmer commented on #107
Yes, apologies. We're using `dep` as well, and there were version conflicts. Manually reverting the version numbers, or forcing an update to astilectron seems to have fixed things.

[2018-05-25 07:13] asticode commented on #107
thanks for the update, closing this issue.

cheers

[2018-05-25 07:13] #107 closed

[2018-05-29 08:08] nickhell opened #112 "Is this support IOS or android?"

[2018-05-29 08:26] asticode commented on #112
@nickhell unfortunately this will be supported when electron will be supported on iOS and Android which is not the case right now.

[2018-05-29 08:26] #112 closed

[2018-05-29 12:56] Noofbiz commented on #112
What I've done in the past is use the same html/css/js as the astilectron app in an Android WebView https://developer.android.com/reference/android/webkit/WebView and then written the glue and native logic bits in Java. I'm not sure if it's possible to do that in iOS since I don't have a Mac for xCode, but it should be similar. It ends up looking the same, but you do have the issue with a bifurcat

[2018-06-07 17:14] tfnick opened #113 "run asticode/go-astilectron-demo failed, Plz help!"
Go-Astilectron is a awsome project! But I run the demo with a minor question. Please help!
My env as follow:

<hr/>

mac 10.12.5
go 1.10.2
GO & GOPATH is worked
npm 6.1.0
Electron   2.0.2
Node       8.9.3
Chromium   61.0.3163.100

I follow the step in go-astilectron-demo. after step 3, I entry the target dir & use ./Astilectron\ demo to run it.

error as follow:

<hr/>

**FATA[0000]** running boot

[2018-06-08 12:52] asticode commented on #113
@tfnick it seems there was a problem while bundling the app. Could you

- run `astilectron-bundler cc`
- run `astilectron-bundler -v` and paste logs here
- run the app and tell me whether this is working?

Cheers

[2018-06-09 16:17] tfnick commented on #113
[code]

[2018-06-09 16:29] #113 closed

[2018-06-13 11:36] MichaelLeachim opened #116 "Compatibility with Electron infrastructure"
Hello, thank you for wonderful library.
I would like to know what is the best way to use it in conjunction
with Electron infrastructure.

For example, I would like to use
https://github.com/electron-userland/electron-forge
to generate optimal packages for multiple platforms.
But I don't exactly understand how, given that go-astilectron
uses, afaik, its own packaging/distribution process

Thanks

[2018-06-14 07:48] asticode commented on #116
@MichaelLeachim `go-astilectron` is not compatible with most Electron tools since its core is in GO and not in NodeJS (the final binary is a GO binary communicating with NodeJS, not the other way around). That's why I had to create its own packaging/distribution process.

Therefore unfortunately I don't think there's any way for you to use electron-forge. Sorry about that.

Does that answer your q

[2018-06-14 12:02] MichaelLeachim commented on #116
@asticode
Okay, then I will have to go "Electron spawning binary with embedded server" route.
Yes, thank you.

[2018-06-14 12:33] #116 closed

[2018-06-14 12:33] asticode commented on #116
Cheers

[2018-06-15 15:12] gedw99 commented on #72
i think you should just use WASM. Its easier than gopherjs in many ways.

here is one where the smart dev has also wrapped on the the Browser API.
Because its WASM its must easier to write golang code.

https://github.com/lazyhacker/wasmgo/blob/master/test.go

see the import !!!

--

So maybe this can be used for also interacting with Electron API or wrapping the existing AstiElectron code or some

[2018-06-15 15:17] gedw99 commented on #72
The Perfect match.

https://go.isomorphicgo.org/

This is gopherjs based and pretty good. The use of standard template i particularly like..

[2018-06-20 08:42] gedw99 commented on #55
@asticode Ben thinking about this whole problem again ...

I found this !
https://github.com/iheanyi/go-electron-grpc

Have a look and see if you think its worth refactoring to use Astilectron...

I generally use GRPC-web (https://github.com/improbable-eng/grpc-web) because the client code can be JS OR golang that is then run through gopherjs ( and later WASM). So its cleaner.

[2018-06-20 08:48] gedw99 commented on #72
@peternoyes

I am leaning heavily towards Vecty now. I tried out react and vue already...
https://github.com/gopherjs/vecty

Here is why !!!
With the official golang compiler support for WASM now being in Master its game on for WASM and golang. So Vecty is now easily the mostly logical choice.
SO you can develop all of your stack with golang and its all strongly typed.

So now you can use all goal

[2018-06-21 01:46] BeanWei opened #117 "adding windows .syso failed"
{"level":"fatal","msg":"bundling failed: bundling for environment windows/amd64 failed: adding windows .syso failed: running rsrc for icon···

How can I solve it？ Can you guide me some?

[2018-06-21 03:13] #117 closed

[2018-06-21 03:14] BeanWei commented on #117
I did a stupid thing ， forgot to add the icons

[2018-06-27 12:50] tinymouse opened #118 "An error occors at sample of "Create a window""
I tried "Quick start" in "README.md"
And tried "Create a window" section.
An error occors at the line of "w.Create()"
Does it work without an error?

[2018-06-27 12:56] asticode commented on #118
Can you share your code ?

I've tried the following and it's working:

[code]

[2018-06-28 11:35] tinymouse commented on #118
Thank you for your sample code.
I tried your code in my development environment.
An error occurs at the same point.
Strictly speaking, an error does not occur,
the program stops  at "w.Create()" and debugger says "Failed to continue"
I found two points the program stops.
1) line 169 in helpler.go, in func synchronousEvent(), at "w.write(i)", because w is nil.
Func synchronouseEvent is called at li

[2018-06-28 12:48] asticode commented on #118
Could you paste the logs when you run `go run *.go -v` of my sample code ?

[2018-06-28 13:50] tinymouse commented on #118
I ran "go run *.go -v" and read the log...

[code]

I see!
I removed "electron-darwin-amd64-v1.8.1.zip" in folder "vendor"
and I ran again.
The program work!

Thank you for you advice!
I am glad to use Astilectron.

[2018-06-28 15:36] asticode commented on #118
Cheers

[2018-06-28 15:36] #118 closed

[2018-07-01 05:14] rcholic opened #119 "How to add a keyboard shortcut?"
I found all of the shortcuts that regular MacOS apps allow do **NOT** work with the built go-astilectron app. For example, `cmd + w` to close the app window.

I wonder how to register key shortcuts in go-astilectron. thanks

[2018-07-01 08:05] asticode commented on #119
No shortcuts are registered by default.

The simplest way to register one, is to add an item to your menu with either an accelerator or a role.

If you add a role to your item such as [Close](https://github.com/asticode/go-astilectron/blob/master/menu_item.go#L25), the default shortcut will also be available. Otherwise you can set the [Accelerator option](https://github.com/asticode/go-astilectron

[2018-07-01 14:40] tinymouse opened #120 "Debug programs in BrowserWindow with VS Code"
I use VS Code to make and debug programs made with Electron.
And use the following tip to debug programs running on renderer process.

vscode-recipes/Electron at master · Microsoft/vscode-recipes
(https://github.com/Microsoft/vscode-recipes/tree/master/Electron)

I also use VS Code to make programs made with Astilectron.
Can I debug programs running in BrowserWindow in the similar way?

[2018-07-02 09:03] asticode commented on #120
My guess is that it's going to be difficult since some of the code will be JS code that you won't be able to debug.

Maybe you could take a look at [this issue](https://github.com/asticode/go-astilectron/issues/105).

Does that answer your question?

[2018-07-03 00:32] BeanWei opened #121 "the js callback，can you help me？"
the message from JS to Go, Go get the message and make the payload, then the js callback get the payload.

But why I can't see the callback

`{"level":"debug","msg":"Astilectron says: {\"name\":\"window.event.message\",\"targetID\":\"1\",\"message\":{\"name\":\"Upload\",\"payload\":[{\"describe\":\"2\",\"tags\":\"3\",\"title\":\"1\"}]},\"callbackId\":\"1\"}","time":"2018-07-03T08:19:06+08:00"}
{"l

[2018-07-03 07:31] asticode commented on #121
@BeanWei can you paste both your GO and JS code?

[2018-07-03 11:18] BeanWei commented on #121
GO:
`// handleMessages handles messages
func handleMessages(a *astilectron.Astilectron, _ *astilectron.Window, m bootstrap.MessageIn) (payload interface{}, err error) {
	switch m.Name {
	case "Upload":
		{
			uploadinfo := &UploadInfo{}
			err := json.Unmarshal(m.Payload, uploadinfo)
			if err != nil {
				return err.Error(), nil
			}
			astilog.Debug(uploadinfo)
			return "I HAVE RECIVEID THIS ME

[2018-07-03 11:55] asticode commented on #121
where do you look for the `console.log` results ?

[2018-07-03 12:15] BeanWei commented on #121
At the windows terminal（cmd）， I use the `go run main.go message.go ······ -v`

also, I had show the messageat in html, but nothing appear too.

[2018-07-03 13:05] tinymouse commented on #120
Thank you for your comment.

I succeeded to debug programs running in BrowserWindow with VS Code.

First, edit "vendor/astilectron/main.js" and add the code after line 28.
[code]
And edit "launch.json" of VS Code.
[code]

I hope Astilectron accepts the flag "--remote-debugging-port=9999" and throws it to Electron.

[2018-07-03 16:51] asticode commented on #120
@tinymouse you don't have to edit the `main.js` file you can use the [ElectronSwitches option](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L75) instead when you declare `Astilectron`:

[code]

That way the command line switch will be sent to Electron and this is much simpler.

Does that fix your issue?

[2018-07-03 16:55] asticode commented on #121
@BeanWei when you use `console.log` in JS, this will display the message in the developer console of the Browser Window, not in your terminal. In order to see the message, you have to [open the window's dev tools](https://github.com/asticode/go-astilectron/blob/master/window.go#L381) and open the `Console` tab. You will see your message there.

Does that fix your issue?

[2018-07-04 07:12] asticode commented on #121
Sounds like a good idea, will do.

Cheers

[2018-07-04 07:12] #121 closed

[2018-07-04 07:19] asticode commented on #119
@rcholic did it fix your issue?

[2018-07-04 12:50] tinymouse commented on #120
This is what I wanted to know! I'm grad to know that.

Thank you for your answer. I'm sure to fix this issue.

[2018-07-04 12:50] #120 closed

[2018-07-06 10:55] harshayk opened #122 "application is not opening"
I created appliaction using astilectron
it created myapp.app in darwin-amd64
but its not opening by clicking it
then iam running the executable inside the folder it is opening.
can u plz help me to overcome this problem

[2018-07-06 11:18] bbuehrig commented on #122
Same here!

[2018-07-06 17:16] harshayk commented on #122
ya same error ﻿﻿﻿﻿LSOpenURLsWithRole() failed with error -10810 for the file
@

[2018-07-07 09:19] asticode commented on #122
@harshayk then you should check out [this issue](https://github.com/asticode/go-astilectron/issues/103)

Are your issues fixed?

[2018-07-07 19:38] gedw99 opened #123 "Open Print Dialog or just Print without opening."
Looks like it supports all the needed Printing functions: https://electronjs.org/docs/api/web-contents#contentsgetprinters

But i did not see it exposed in this project ??

[2018-07-08 07:02] asticode commented on #123
You're right, this is not exposed in this project for now.

I won't have a lot of time to work on this so if anyone wants to work on this, I'd be happy to review a PR.

Cheers

[2018-07-09 07:31] asticode commented on #122
Did it fix your issues?

[2018-07-09 07:31] asticode commented on #119
Closing the issue for now

[2018-07-09 07:31] #119 closed

[2018-07-09 07:34] harshayk commented on #122
one thing i have to know that is where i have use these functionalities
in main.go

[2018-07-09 07:34] harshayk commented on #122
??

[2018-07-09 07:48] asticode commented on #122
@harshayk first you should check out [this comment](https://github.com/asticode/go-astilectron/issues/103#issuecomment-383433011) that may explain the root cause of your problem (relative paths).

To avoid using relative paths in your app, you can use `os.Executable()` or `a.Path().DataDirectory()` to transform your relative paths into absolute paths.

[2018-07-09 11:28] gedw99 commented on #123
I can do it. Can you point me to a similar example ?

[2018-07-09 12:09] asticode commented on #123
Great!

For the actions, you can take a look at the code in [go-astilectron](https://github.com/asticode/go-astilectron/blob/master/window.go#L319) as well as the code in [astilectron](https://github.com/asticode/astilectron/blob/master/main.js#L255).

Let me know if you have any questions.

[2018-07-09 12:11] gedw99 commented on #123
where is you test harness for the current code ? SO i can see the current code beign used and then makes it easier to add stuff.

[2018-07-09 12:15] gedw99 commented on #123
@asticode all i have found is this: https://github.com/asticode/go-astilectron-demo
Thats not a kitchen sink test harness to test the core functionality....
I know Electron project has a core APiI test harness.
https://github.com/electron/electron-quick-start

we need something like this i feel..

[2018-07-09 13:15] asticode commented on #123
you can try the [README's quick start](https://github.com/asticode/go-astilectron#quick-start)

[2018-07-09 15:04] gedw99 commented on #123
OK :(

[2018-07-10 14:14] harshayk commented on #122
thanks its working

[2018-07-10 14:14] #122 closed

[2018-07-13 02:22] 107295472 opened #124 "The path here will not be configured"
![20180713102135](https://user-images.githubusercontent.com/6436116/42669171-a4c4721e-8686-11e8-8257-d7b221ed6392.png)

[2018-07-13 07:09] #124 closed

[2018-07-13 08:35] 107295472 opened #125 "initDataDirectory bug?"
func (p *Paths) initDataDirectory(appName string) {
	// if v := os.Getenv("APPDATA"); len(v) > 0 {
	// 	p.dataDirectory = filepath.Join(v, appName)
	// 	return
	// }
	p.dataDirectory = p.baseDirectory
}
Always looking for this address     C:\Users\Administrator\AppData\Roaming

[2018-07-13 16:53] asticode commented on #125
putting the data in the APPDATA folder is the expected behavior on windows

[2018-07-13 16:53] #125 closed

[2018-07-19 10:34] soluchok opened #126 "Is it possible to use a shell module and how?"
I need to open the file in a folder. I found some command like `shell.showItemInFolder(fullPath)` but I do not know how to use it. Can anyone help me? Thanks.
https://github.com/electron/electron/blob/master/docs/api/shell.md

[2018-07-19 11:44] #126 closed

[2018-07-22 02:10] tinymouse opened #127 "How to get position and size of window"
I can set position (X, Y) and size(Height, Width) when I make window using astilectron.WindowOptions.
I want to get position and size when window is closed. How can I get them?

[2018-07-22 07:51] asticode commented on #127
@tinymouse right now you can't, but there is a pending PR that would add this feature: https://github.com/asticode/go-astilectron/pull/115

[2018-07-22 14:30] tinymouse commented on #127
I see. I feel bad to hear that I cannot.
I tried to use PR #155, but I found that
w.o.X and w.o.Y do not change when I move the window without using method w.Move(), and
w.o.Height and w.o.Width do not change when I resize the window without using method w.Resize().

[2018-07-22 15:37] asticode commented on #127
yes you're right, some changes are needed in this PR and I'm waiting for them

[2018-07-23 14:31] tinymouse commented on #127
Thank you for your comment. I hope that window object has a new method.

[2018-07-25 05:32] qjin2113 opened #128 "failed: astihttp: downloading in writer"
FATA[0351] bundling failed: bundling for environment darwin/amd64 failed: binding data failed: provisioning the vendor failed: provisioning electron vendor for OS darwin and arch amd64 failed: downloading https://github.com/electron/electron/releases/download/v1.8.1/electron-v1.8.1-darwin-x64.zip into /var/folders/zs/bn8sbvbj67gg5_4yzr6cn19r0000gn/T/astibundler/cache/electron-darwin-amd64-1.8.1.zi

[2018-07-25 07:01] asticode commented on #128
@qjin2113 this means that the bundler couldn't download https://github.com/electron/electron/releases/download/v1.8.1/electron-v1.8.1-darwin-x64.zip. Are you sure the machine you're downloading this file with has an internet connection? What happens if you try again (that may be a temporary network issue)?

[2018-07-26 12:29] lansi951 opened #129 "Run directly without bundling"
I want to run like `electron .` command for testing app without bundling process.
I wish I could see index.html changed in real time.
What should i do?

[2018-07-26 13:17] asticode commented on #129
are you using the bundler right now ?

[2018-07-26 14:00] lansi951 commented on #129
@asticode Yes. `astilectron-bundler` using now.

[2018-07-26 14:08] asticode commented on #129
ok then you need to make sure the data is binded by running `astilectron-bundler bd -v` but then all you need to do is run `go run *.go -v` to run your app.

Does that answer your question?

[2018-07-26 15:39] lansi951 commented on #129
@asticode It is work(`go build; ./app.exe` on powershell).
But astilectron load index.html from `\AppData\Roaming\resources\app` and I cant modify it in real time.
Why no load file from `GOPATH\src\resources\app`?

[2018-07-27 22:33] rcholic opened #130 "build problem in Windows 10:"
I got the following errors reported when doing a `go build` in Windows 10 with the example app (for listing files and directories):

[code]
bootstrap.Options {
...
Line 43: `Homepage: "index.html",`
Line 148: `OnWait: func(_ *astilectron.Astilectron, iw *astilectron.Window, _ *astilectron.Menu, _ *astilectron.Tray, _ *astilectron.Menu) error {`
...
}

Is there anything obvious I'm missing for buil

[2018-07-29 11:53] asticode commented on #129
@lansi951 I've added a `DataDirectoryPath` option in case you want to override the default `Windows` value which is in the `APPDATA` folder.

Doest that fix your issue?

[2018-07-29 11:53] #128 closed

[2018-07-29 11:58] asticode commented on #130
@rcholic the bootstrap has evolved so that it can handle several windows. Therefore its options have evolved as weel.

Basically there's a `Windows` attribute at the root of the options which is a `[]*Window`. You can specify an `Homepage`, `MessageHandler` and `Options` to each `Window` individually.

Does that make sense?

[2018-07-29 17:05] rcholic commented on #130
I see. thanks!

[2018-07-29 17:05] #130 closed

[2018-07-30 07:50] asticode commented on #130
Yes it does, it's not OS-specific :)

Cheers

[2018-07-31 05:06] madhuni opened #131 "Can we use Angular with go-astilectron for making the Desktop sofwares?"
Hi...I want to use Angular for developing the Desktop software using go-astilectron. Can somebody having the experience with the same, define that how we can proceed with Angular and "go-astilectron"?

I also I want to do the real-time development to see the changes as we can do with electron without making build each and every time when I need to see something. Is that possible with "go-astilectr

[2018-07-31 07:09] lansi951 commented on #129
@asticode It works. but, if set `DataDirectoryPath: "D:\\go\\src\\demo\\resources"`, astilectron load `index.html` from `D:\\go\\src\\demo\\resources\\resources`(resource x 2).

[2018-07-31 07:20] lansi951 opened #132 "Don't unzipped astilectron-v0.25.0.zip"
Windows 10 x64

Set `DataDirectoryPath: "D:\\go\\src\\demo\\resources"`.

`go build`

`.\demo.exe -d -v`

Error "Unable to fine Electron app at D:\go\src\demo\resources\vendor\astilectron\main.js"

D:\go\src\demo\resources\vendor
.\astilectron
.\electron-windows-amd64
.\astilectron-v0.25.0.zip
.\electron-windows-amd64-v1.8.1.zip
.\status.json

Unzipped files in .\electron-windows-amd64 directory.

[2018-07-31 07:20] Grayon opened #133 "App has crashed when I closed all window"
I think it is because Electron's default event, and app quit.
But the log said `App has crashed`

[2018-07-31 07:51] asticode commented on #132
Here's what happened:

- the previous astilectron version was 0.24.0
- therefore the zip file that was downloaded was the 0.24.0 version
- the astilectron version was bumped to 0.25.0 this weekend
- as you're building your project manually, it didn't fetch the 0.25.0 zip file

And therefore the process failed.

Hence if you want to build your project manually, when there's a change of version in a

[2018-07-31 07:51] #132 closed

[2018-07-31 07:57] asticode commented on #131
@madhuni I haven't used Angular myself but I don't see why you couldn't.

Indeed, once you've created a window you tell it which .html page to open. This page can contain anything you want, including Angular. If you take a lookf at the [demo](https://github.com/asticode/go-astilectron-demo/blob/master/resources/app/index.html), you can see I've included custom scripts. You can do the same with Ang

[2018-07-31 07:58] asticode commented on #129
@lansi951 sure because your data directory should be "D:\\go\\src\\demo" in your case since this directory will contain other suff than `resources` (`vendor` stuff for instance)

[2018-07-31 07:59] asticode commented on #129
the `resources` folder will be created by `astilectron`.

Does that fix your issue?

[2018-07-31 08:04] asticode commented on #133
@Grayon what should be the fix? that the log says `App has stopped` instead?

[2018-07-31 08:51] lansi951 commented on #129
@asticode Thank you! I fixed this issue!

[2018-07-31 08:51] #129 closed

[2018-07-31 09:01] Grayon commented on #133
I think it's not a crash, it's a close action.
And I want to know, how to run my electron code with astilectron?
like handle `window-all-closed` event myself, and call other methods.
I don't want to quit app when window all closed.

[2018-07-31 09:43] asticode commented on #133
@Grayon you can't run electron code with astilectron. The goal of this project is to write GO code to handle electron, not JS code directly.

However what you're requesting makes sense and I could see a `DoNotQuitWhenAllWindowsClosed` attribute for [Astilectron](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L69) that listens to `window-all-closed` event, and `preventDefault

[2018-07-31 16:29] lansi951 commented on #132
Update and reinstall bundler
[code]

[2018-08-01 08:07] asticode commented on #132
Cheers

[2018-08-01 12:26] Grayon commented on #133
I find there is a `HideOnClose` in `WindowOptions` can do that, but I don't know how to show it again.

[2018-08-01 13:36] asticode commented on #133
It depends what your workflow is, but for one of my project, the tray was the item that could show the window again. Does that make sense in your case?

[2018-08-01 19:36] PeterBooker opened #134 "Modules Compatibility"
I am not sure this is an issue per say, especially given Modules (vgo) only been added in the current 1.11 beta2, but I wanted to see what you thought.

I came across two odd behaviours:

1) Modules by default imports the last tag (v0.5.0 as I write this), which contains an error (helper.go line 14 has a bad import name). It took me a while to work out that I could get round this by specifying `go

[2018-08-02 07:26] mofeiwo opened #135 "support webview?"
support webview?
I want to open some pages by different request headers.

[2018-08-02 07:45] asticode commented on #135
@mofeiwo I think you're in luck, I've added [WindowLoadOptions](https://github.com/asticode/go-astilectron/blob/master/window.go#L133) recently. You should be able to add headers with the `ExtraHeaders` attribute. Check out the [electron doc](https://github.com/electron/electron/blob/v1.8.1/docs/api/browser-window.md#winloadurlurl-options).

Does it fix your issue?

[2018-08-02 07:57] asticode commented on #134
@PeterBooker I didn't have the chance to try modules yet, so thanks for your feedback!

1. You're right, I should create tags along the way but unfortunately I forget. I'll try to remember but in the meantime this is a good thing you can specify `@master`.

2. The error seems to be happening in the [bundler](https://github.com/asticode/go-astilectron-bundler/blob/master/bundler.go#L342) when build

[2018-08-02 09:04] mofeiwo commented on #135
ok. I try it

[2018-08-02 09:19] PeterBooker commented on #134
Sure, the command was:
`go build -ldflags "-s -X \"main.AppName=Astilectron demo\" -X \"main.BuiltAt=2018-08-02 10:05:59.8390291 +0100 BST m=+6.041950001\" -H windowsgui -o D:\Projects\go\demo\output\windows-amd64\binary ."`

Running this manually gave the output:
[code]

[2018-08-02 09:30] asticode commented on #134
@PeterBooker before being able to bundle the demo and as mentioned in the [first step of the readme](https://github.com/asticode/go-astilectron-demo#step-1-install-the-demo) you need to remove `bind.go`. Could you try again after having removed `bind.go`?

[2018-08-02 09:44] PeterBooker commented on #134
Embarrassing, I had missed that step while going through the process again this morning. It now successfully runs the command:
`go build -ldflags "-s -X \"main.AppName=Astilectron demo\" -X \"main.BuiltAt=2018-08-02 10:05:59.8390291 +0100 BST m=+6.041950001\" -H windowsgui" -o D:\Projects\go\demo\output\windows-amd64\binary.exe .`

However, the command `astilectron-bundler -v` still fails at the s

[2018-08-02 12:10] asticode commented on #134
@PeterBooker I think I know what was happening. Could you fetch the last changes in the bundler, run `go install` on it (like mentioned in its README) and try again?

[2018-08-02 12:26] PeterBooker commented on #134
I updated the bundler with the instructions from `https://github.com/asticode/go-astilectron-bundler`.

Re-running `astilectron-bundler -v` got the same output as before:
[code]

If there is anything else I can do to help just let me know.

[2018-08-02 12:45] asticode commented on #134
Mmm I'm not familiar enough with that issue, if anyone else has an idea I'm all ears.

[2018-08-02 13:00] PeterBooker commented on #134
Thank you for trying, I appreciate it. I did some more digging around the `GOCACHE` env var, which I saw from your commit.

It is set to `C:\Users\mail\AppData\Local\go-build` by default, but that does not seem to work. So I changed it to another drives temp directory and that now allows the bundler command to finish:

[code]

However, the binary which is created still shows the same errors as bef

[2018-08-02 13:36] asticode commented on #134
I think that the fact that the bundler process finishes properly is very good news!

Regarding the missing main.js, check that `go-astilectron` is up to date, then rebuild the bundler then retry. If that still doesn't work, please paste logs from both the bundler and the app with the `-v` flag.

[2018-08-02 20:55] PeterBooker commented on #134
Sorry for the slow response. I wanted to dedicate some more time to debugging myself. The good news is that I have found a way to get it working, the down side is that I do not understand **why** it works.

If I try the `astilectron-bundler -v` after following the instructions I get the error:
[code]

However, if I set `GOCACHE` to the exact same value it already contains:
[code]

The  `astilectro

[2018-08-03 04:56] rcholic opened #136 "How to make a hyperlink that opens default browser upon click?"
I was wondering if there's a way to create a hyperlink that opens the browser?

[2018-08-03 07:11] mofeiwo commented on #135
@asticode
Support proxy IP？

[2018-08-03 07:46] asticode commented on #134
@PeterBooker this is because of [this](https://github.com/asticode/go-astilectron-bundler/blob/master/bundler.go#L348).

If your environment variable is not set, when the `go build` command is executed in a child process, somehow `go env GOCACHE` will return nothing. However, if the environment variable is set, it will return something and process will run successfully.

This is definitely somethi

[2018-08-03 07:50] asticode commented on #136
Do you mean:

- you're in an external browser (like Chrome and Firefox)
- you click on this special link
- it opens up your app at the correct location

?

[2018-08-03 09:48] mofeiwo commented on #135
@asticode
I try WindowLoadOptions today.
When I used different Cookie to log in to the site，display the same account information.
Where am I wrong?
below part of my code

`
Windows: []*bootstrap.Window{{
			Homepage:       "https://www.a.com",
			Options: &astilectron.WindowOptions{
				BackgroundColor: astilectron.PtrStr("#333"),
				Center:          astilectron.PtrBool(true),
				Height:

[2018-08-03 11:12] PeterBooker commented on #134
Ah, I see now. So the other `go` tools can get the default but anything external cannot. I had assumed `os.Getenv` would return the same as `go env GOCACHE` but now I see that `os.Getenv` always returns blank, as `GOCACHE` is not set locally.

I had assumed that as `go env GOCACHE` returned a value that the Go installer must have set the env var. I had not even considered checking to see, or that

[2018-08-03 13:11] gwangsd commented on #136
No I mean the opposite. A hyperlink in my app, when you click it, a new browser window opens

[2018-08-04 05:27] rcholic commented on #136
I was asking if it is possible to open the default browser (e.g. Chrome) from inside of a go-astilectron based app when user clicks a hyperlink in the app UI.

[2018-08-04 08:16] asticode commented on #134
Cheers

[2018-08-04 08:16] #134 closed

[2018-08-04 17:56] rcholic commented on #136
never mind, I found this solution: https://gist.github.com/hyg/9c4afcd91fe24316cbf0

[2018-08-04 17:56] #136 closed

[2018-08-05 07:38] asticode commented on #136
Cheers

[2018-08-05 07:39] asticode commented on #135
Mmm I'm not sure the `Cookie` header is taken into account... Electron might have its own cookie you can't mess with... but that's only a guess...

[2018-08-05 14:56] #131 closed

[2018-08-05 14:56] #133 closed

[2018-08-06 01:44] mofeiwo commented on #135
Through tools by Charles，custom Cookie is not included in the http request.

[2018-08-06 07:41] asticode commented on #135
OK so that explains your last issue?

May I close this issue?

[2018-08-06 07:45] mofeiwo commented on #135
How to customize Cookie？

[2018-08-06 07:50] asticode commented on #135
@mofeiwo it seems like a Charles issue, not an electron issue isn't it ?

[2018-08-06 08:01] mofeiwo commented on #135
@asticode
I want to know Whether to support customized Cookie  by  `go-astilectron` ?

[2018-08-06 09:05] asticode commented on #135
`go-astilectron` supports customized Cookie through the `ExtraHeaders` attribute only

[2018-08-06 09:09] mofeiwo commented on #135
I  try it . Unable to modify.

[2018-08-06 09:14] asticode commented on #135
Isn't it because Charles is blocking the Cookie header?

[2018-08-06 09:50] mofeiwo commented on #135
No. `Charles `  Used to test whether to modify.

I used customized `Cookie` , No change in page information.

[2018-08-10 09:40] gedw99 commented on #123
@asticode sorry but i got held up with person stuff. House renovation and need a bathroom :)
Just wanted to let you know... Its going to be a long while until i get to this.
Do you think you can whip this up ?

[2018-08-16 16:30] sanderpick opened #137 "Notifications: Had to call Create before Show"
Just a heads up, I started with this section of the docs to get notifications going: https://github.com/asticode/go-astilectron#notifications, but I was getting some JS error (something like "can't call show of undefined"). Digging around I found this `Create` method... everything works great if I call that before `Show`.

Cheers!

[2018-08-16 17:16] asticode commented on #137
Damn, you're right, will update the doc.

Cheers

[2018-08-16 18:08] sanderpick commented on #137
Sweet!
On Aug 16, 2018, 10:16 AM -0700, Quentin Renard <notifications@github.com>, wrote:

[2018-08-24 09:36] awerffeli opened #138 "When closing app send message to js"
Hi
I have an application with a single window. When I close the window, I'd like to to trigger a logout in my js app. However when I click the close button on the window my Messages to the js sent via `window.SendMessage(...` are not received anymore by js as it seems the tcp connection has already been closed. Is there any solution to this? I have tried with the  `HideOnClose` and then closing th

[2018-08-24 12:57] awerffeli commented on #138
I found a solution by injecting electron into the new window.
[code]

In the js part I did something like this
[code]

[2018-08-24 12:57] #138 closed

[2018-08-24 14:14] asticode commented on #138
@awerffeli I think you can add `const electron = require('electron')` at the top of your js directly, without injecting it with GO.

Does it work ?

[2018-09-07 10:24] cbairy opened #139 "Prevent launching multiple instances of go-astilectron app"
Hi asticode,
Is there any way to prevent astilectron app from opening another instance when there is a current one running in the OS?
Thanks,
Chandrakanth.

[2018-09-08 07:59] asticode commented on #139
@cbairy for now there's no method to do this in `go-astilectron`.

I won't have time to work on this anytime soon therefore I'm welcoming PRs.

Here is the way to do it:
- add a `SingleInstance` option to [Options](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L69)
- pass this value as an argument when [executing Electron](https://github.com/asticode/go-astilectron/blob/mas

[2018-09-12 10:37] weiyixuan opened #141 "usage of dialog.showMessageBox"
dialog.showMessageBox([browserWindow, ]options[, callback])

what is the first parameter(browserWindow) in js? How can I get it?

[2018-09-13 18:56] asticode commented on #141
@weiyixuan you're not supposed to use electron's method directly but astilectron's.

To do so, call `astilectron.showOpenDialog(options[, callback))`.

Does that fix your issue?

[2018-09-18 10:33] xiusin opened #142 "about event handler"
I want to clicking the close button does not close the program, how to do it?

[2018-09-18 12:19] asticode commented on #142
@xiusin can you paste your code?

[2018-09-18 14:41] asticode commented on #142
OK got it.

No need to add all those listeners, you can simply use [this attribute](https://github.com/asticode/go-astilectron/blob/master/window.go#L126) when creating a window.

Does this fix your issue?

[2018-09-19 01:51] xiusin commented on #142
@asticode Yes, that can be solved. Thank you.

[2018-09-19 01:51] #142 closed

[2018-09-19 07:42] Incrementing opened #143 "undefined: EventMessage"
Trying to use the following code from the README.md example:
[code]
But my IDE (GoLand) can't seem to find EventMessage

[2018-09-19 07:53] asticode commented on #143
mmmm indeed, this should be `astilectron.EventMessage`.

Does it work when you update?

[2018-09-19 07:55] Incrementing commented on #143
Yes, that fixed it right away. Probably should have tried something like that before opening an issue. Thanks for the help.

[2018-09-19 07:55] #143 closed

[2018-09-19 07:57] asticode commented on #143
Nah you were right to create an issue, I will update the doc accordingly.

Cheers

[2018-09-21 16:39] #141 closed

[2018-09-21 16:40] #139 closed

[2018-09-21 16:41] #135 closed

[2018-09-26 17:41] wallnutkraken commented on #80
I get the same issue on w.Create() (from readme) on Manjaro (Linux 4.18.9)

[2018-09-27 07:36] asticode commented on #80
@wallnutkraken can you paste the logs when you run your binary with the `-v` flag ?

[2018-09-27 12:02] wallnutkraken commented on #80
-v? Am I missing something here? As far as I understood from the readme I just launched my program via `go run`

[2018-09-27 12:44] asticode commented on #80
You're right indeed, but as `astilectron` uses `astilog`, the flag `-v` exists by default to print debug logs. Therefore if you run `go run -v`, it will print debug logs I'm interested in.

[2018-10-09 10:05] weiyixuan opened #144 "Whether subsequent monitoring of events such as sleep or hibernate will be added"

[2018-10-09 10:06] asticode commented on #144
@weiyixuan could you point to electron's doc?

[2018-10-12 06:57] #144 closed

[2018-10-12 20:09] JujharSingh opened #145 "Visible Artifacting on Linux"
![image](https://user-images.githubusercontent.com/9494428/46891742-69953500-cec7-11e8-9411-06ec89f2a6d6.png)
Chromium seems to have no problems but the go-astilectron window does?

[2018-10-13 07:30] txthinking opened #146 "Notification must set user model id on win32"
I did not find the setappusermodelid api on godoc.

https://electronjs.org/docs/api/app#appsetappusermodelidid-windows

BTW, can we set app id custom like com.mydomain.app

Thanks

[2018-10-13 17:30] asticode commented on #145
Mmm this is weird. Unfortunately at this point it is an Electron issue and there's nothing I can do. Maybe you can check on Google if anybody has a similar problem using Electron and report back here.

[2018-10-13 17:32] asticode commented on #146
@txthinking ok for `app.setAppUserModelId(id)`.

But regarding your second question, can you point to the Electron corresponding doc?

[2018-10-14 07:46] JujharSingh commented on #145
It's a problem with the libfreetype package, downgrading back to 2.8-0 fixes the issue.

[2018-10-14 07:46] #145 closed

[2018-10-14 09:18] txthinking commented on #146
Sorry for the unclear description.
https://www.electron.build/configuration/configuration#configuration

[2018-10-14 10:35] asticode commented on #146
thanks!

[2018-10-15 09:04] IIInsomnia opened #147 "old electron version"
Version 1.8.1 of Electron is quite old. Could it be upgraded to the latest version or is it not compatible with astilectron-go?

[2018-10-16 07:50] asticode commented on #147
@IIInsomnia unless there have been changes that break compatibility, upgrading to a newer electron version should not be an issue.

Nonetheless, I have to test it a little bit.

If anyone want to test whether its app is working properly with the new electron version, all you have to do is:

 - update the version [here](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L23)
- bu

[2018-10-22 20:57] Guillaume695 commented on #80
Just ran into the same issue a few hours ago. I'm posting here the solution to my problem as it might help someone :smile:

Adding `-v` as @asticode suggested, I realized that the version of the astilectron archive downloaded by the bundler and the version of the archive uncompressed at run time didn't match. The reason for that is that I built `astilectron-bundler` a few weeks ago while dep keeps

[2018-10-22 21:10] Guillaume695 commented on #147
I haven't tested all the features yet but I just tried with version 'v4.0.0-beta.4' and it worked right away :tada:  nice job!

[2018-10-23 07:51] asticode commented on #147
Is there any reason we shouldn't wait for the `v4.0.0` to be stable?

I'd rather avoid bumping to a `v3.*.*` or a `beta` version if possible.

[2018-10-31 16:23] cbairy opened #149 "Change label of menus dynamically"
Hi asticode,
Is there any way we can change the Label option of MenuItemOptions in SubMenu dynamically. I configure the options using bootstrap like
		MenuOptions: []*astilectron.MenuItemOptions{{
			Label: astilectron.PtrStr("File"),
			SubMenu: []*astilectron.MenuItemOptions{
				{
					Label: astilectron.PtrStr("About"),
					OnClick: func(e astilectron.Event) (deleteListener bool) {

Say that

[2018-11-02 10:08] asticode commented on #149
@cbairy there's a simple way to achieve what you want to do:

- First you need to retrieve the `Menu` you want to update. If you're using the bootstrap, use the `OnWait` attribute.
- Then you need to retrieve the proper `MenuItem` within the `Menu`. To do that, you can use both `SubMenu` and `Item` functions to locate your `MenuItem`
- Once you have the `MenuItem`, you simply have to use its `SetL

[2018-11-05 14:23] asticode commented on #149
What do you mean by "its not reflected in the actual menu of the window"?

Can you share screenshots if possible?

[2018-11-05 16:17] cbairy commented on #149
![image](https://user-images.githubusercontent.com/3469880/48010378-7a8e3a80-e143-11e8-9a0f-3dfd203cf748.png)
![image](https://user-images.githubusercontent.com/3469880/48010422-91cd2800-e143-11e8-8264-01ff5dc0d62f.png)
![image](https://user-images.githubusercontent.com/3469880/48010536-cc36c500-e143-11e8-9304-ba4c806fd80f.png)
![image](https://user-images.githubusercontent.com/3469880/48010563-db

[2018-11-06 10:52] bright-light-in-the-night commented on #147
@asticode and @Guillaume695 could you tell me how you did the step "build the bundler if you're using it"?
I have no problem building the app from scratch. I have changed the version of electron [here](https://github.com/asticode/go-astilectron/blob/master/astilectron.go#L23), but when I build the app, I still have the electron 1.8.1
PS: the app runs fine with version 1.8.1, but I need some new fe

[2018-11-06 10:54] asticode commented on #147
@bright-light-in-the-night you only need it if you're using the bootstrap.

Here are the steps:

[code]

[2018-11-06 11:02] bright-light-in-the-night commented on #147
Thanks!
I ran into [this post](https://github.com/asticode/go-astilectron/issues/57) that told me to `make`.
So I ran:
[code]
Then I rebuild the app and now it's updated :relieved:

[2018-11-07 15:31] bright-light-in-the-night commented on #80
I had the same issue (Ubuntu 16), but my problem was the missing `libnss3` library. Installing it solved the issue.

[2018-11-08 07:44] asticode commented on #80
Thanks for the heads-up @bright-light-in-the-night !

[2018-11-09 18:26] pankona opened #150 "How about making tag for recent update?"
Hello!

It seems the latest tag (v0.5.0) was created at Aug 2017, a little old.
Currently if go mod is enabled it causes build error because the v0.5.0 still referes go-astitools/zip but go-astilools's latest doesn't exist it.

JFYI, about go mod's behavior to resolve dependencies:
- go-astilectron has tag. Latest is v0.5.0. If version is not specfied version, then latest (v0.5.0) will be used.
-

[2018-11-11 08:58] asticode commented on #150
You're right!

I've added the `v0.6.0` tag.

Closing this issue now.

Cheers

[2018-11-11 08:58] #150 closed

[2018-11-11 09:45] aparvizi commented on #150
با سلام
واقعیت اینه که معلوم نیست .
فعلا امکان واردات بااین دلار نیست -
اون مورد با دلار ۳۵۰۰ خرید شده بود
قیمت جدید ۵ برابر میشه و بعیده کسی بخره -
فعلا منتظر ثبات بازار هستیم.
ممنون

[2018-11-11 10:36] asticode commented on #150
@aparvizi sorry I didn't understand. Could you translate your message in english?

[2018-11-12 06:35] pankona commented on #150
@asticode
Hi! Thank you updating! I'm very happy! :)
Cheeeers!

[2018-11-15 09:01] #149 closed

[2018-11-19 17:27] lexesv opened #151 "Uncaught TypeError: Cannot read property 'paths' of undefined"
Hello!
I try run https://teaweb.tk/ in go-astilectron app and get this error:
![_2018-11-19_19-21-31](https://user-images.githubusercontent.com/15149258/48723826-5a28aa80-ec30-11e8-9e24-894050416f76.png)

![_2018-11-19_19-24-46](https://user-images.githubusercontent.com/15149258/48724011-d3280200-ec30-11e8-9e38-e79a2d6aacfd.png)

Although it works in the Chromium based browsers and there are no er

[2018-11-20 10:22] asticode commented on #151
Mmm it seems `module` is `undefined`.

Could you try the steps in [this comment](https://github.com/asticode/go-astilectron/issues/147#issuecomment-430136895) to check if this is related to the Electron version. You can bump the Electron version to the latest version if you want.

Let me know if that works with a more recent Electron.

[2018-11-20 11:11] lexesv commented on #151
Hi,
I was try electron 3.0.10 and 4.0.0-beta.7
Same errors...

[2018-11-20 12:41] asticode commented on #151
What if you add `const module = require("module");` just after `const remote = required('electron').remote;` ?

[2018-11-20 14:16] lexesv commented on #151
![2](https://user-images.githubusercontent.com/15149258/48779166-aa127a80-ecdf-11e8-8338-528a33fd3382.png)

![1](https://user-images.githubusercontent.com/15149258/48779155-a7178a00-ecdf-11e8-8a5c-b1fbc98bd1f1.png)

[2018-11-21 09:20] asticode commented on #151
This is really weird.

When I add `console.info(module)` at the top of the [demo JS](https://github.com/asticode/go-astilectron-demo/blob/master/resources/app/static/js/index.js) that is executed in the window, it prints the `Module` object which does have the `paths` attribute.

Where is your script called? Is there any way I can see the whole script?

[2018-11-30 04:04] weiyixuan opened #152 "Notifications in REAME cannot run on win10"
Cannot pop up notification on win10 & win8。

[2018-12-03 12:44] asticode commented on #152
@weiyixuan I've found [this](https://electronjs.org/docs/tutorial/notifications#windows). It seems you need to do something special in Win 8+.

Should I update the README?

[2018-12-04 13:26] Ghardo opened #153 "where can i find the astilog output?"
Hello,
maybe im dumb but where can i find the astilog output?

[2018-12-04 13:43] Ghardo commented on #153
ok found it i need to start with -v param

[2018-12-04 13:43] #153 closed

[2018-12-04 18:42] im050 opened #154 "A question of the taskbar under the Win10"
I was building my App using `go-astilectron-bootstrap` and `go-astilectron-bundler`, but something wrong with win10 about the taskbar, when I run the App and right-click on the taskbar, then I found that the `Electron` app in the menu. Are some options set incorrectly?
![FlSqSI.png](https://s1.ax1x.com/2018/12/05/FlSqSI.png)

[2018-12-06 19:32] Incrementing opened #155 "reCAPTCHA"
Trying to get a captcha working inside my program but I keep getting the following errors.

[code]

It seems to work when I access the html file from chrome or firefox, so I'm assuming it's a security setting inside electron.

[2018-12-06 19:51] Incrementing commented on #155
Fixed this issue by upgrading to a newer version of Electron (as mentioned in #147).
Sorry about opening an issue 👍

[2018-12-06 19:51] #155 closed

[2018-12-13 12:40] komyg opened #156 "How to Open Dev Tools"
Hi,

I am new to Astilectron and I have a very basic question: how can I open the dev tools for my window?

I am creating the window like this:

[code]

And I am running the bootstrap like this:
[code]

But the dev tools window does't open and whenever I type: `Ctrl`+ `Shift` + `I` nothing happens.

[2018-12-13 13:33] asticode commented on #156
@komyg there are 2 ways to do it:

1) if you're using the bootstrap (which you seem to be using), you should add the `Debug` option (which you seem to be using as well). Then, once the app is opened, you should press `CTRL` + `O` to open the dev tools. Or go to the menu and look for it.

2) if you want to do it yourself, check out the [OpenDevTool](https://github.com/asticode/go-astilectron/blob/m